Repository camunda/camunda-platform-helm, pull requests merged in 2023-11, with the labels that each got.

#1033 Release Camunda Platform Helm Chart v8.1.18
  .github/workflows/test-integration-openshift.yaml
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
  charts/camunda-platform/test/integration/it-keycloak-v19-values.yaml
  test/integration/scenarios/chart-with-keycloak-v19/Taskfile.yaml
Labels: release

#1042 fix(ci): updates regression test to reflect that 8.0 is eol and 8.2 i…
  .github/PULL_REQUEST_TEMPLATE/release_template.md
  .github/workflows/test-regression.yaml
Labels: area/ci

#1037 refactor: add volume mounts for optimize migration init container
  charts/camunda-platform/templates/optimize/deployment.yaml
Labels: kind/refactor, size/xs

#1064 Release Camunda Platform Helm Chart v8.1.19
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#1066 Release Camunda Platform Helm Chart v8.2.17
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#1080 fix: allow existing zeebe exporters dir
  charts/camunda-platform/README.md
  charts/camunda-platform/templates/zeebe/configmap.yaml
  charts/camunda-platform/test/unit/zeebe/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform/test/unit/zeebe/golden/configmap.golden.yaml
Labels: size/xs, kind/fix

#1079 chore(ES):validating if ElasticSearch configuration works correctly
  charts/camunda-platform/values.yaml
Labels: fix, size/xs

#1090 fix: correct a typo in identity-optimize secret
  charts/camunda-platform/templates/camunda/secret-optimize.yaml
  charts/camunda-platform/test/integration/scenarios/lib/chart-upgrade-taskfile.yaml
Labels: size/xs, kind/fix

#1092 improve(operate): set default log level to INFO
  charts/camunda-platform/test/unit/operate/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/values.yaml
Labels: kind/enhancement, size/xs

#1094 Release Camunda Platform Helm Chart v8.1.20
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#1095 Release Camunda Platform Helm Chart v8.2.18
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#1096 Release Camunda Platform Helm Chart v8.3.3
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
  charts/camunda-platform/values.yaml
Labels: camunda-platform, chore, release
