Repository camunda/camunda-platform-helm, pull requests merged in 2023-08, with the labels that each got.

#749 feat: added ingress urls to the chart notes
  charts/camunda-platform/templates/NOTES.txt
Labels: kind/enhancement, size/s

#826 Release Camunda Platform Helm Chart v8.2.11
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#837 ci: support persistent with pr labels
  .github/actions/pr-vars/action.yml
  .github/workflows/test-integration-main.yaml
  charts/camunda-platform/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
Labels: area/ci, size/s, test-persistent

#835 feat: add console sm inital resources
  charts/camunda-platform/templates/NOTES.txt
  charts/camunda-platform/templates/_helpers.tpl
  charts/camunda-platform/templates/console/_helpers.tpl
  charts/camunda-platform/templates/console/configmap.yaml
  charts/camunda-platform/templates/console/deployment.yaml
  charts/camunda-platform/templates/console/ingress.yaml
  charts/camunda-platform/templates/console/service.yaml
  charts/camunda-platform/templates/console/serviceaccount.yaml
  charts/camunda-platform/templates/ingress.yaml
  charts/camunda-platform/templates/release-configmap.yaml
  charts/camunda-platform/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform/values.yaml
Labels: kind/enhancement, size/m

#842 fix: set missing tasklist service account
  charts/camunda-platform/README.md
  charts/camunda-platform/charts/tasklist/templates/_helpers.tpl
  charts/camunda-platform/charts/tasklist/templates/deployment.yaml
  charts/camunda-platform/charts/tasklist/templates/serviceaccount.yaml
  charts/camunda-platform/test/unit/tasklist/deployment_test.go
  charts/camunda-platform/values.yaml
Labels: size/s, kind/fix

#843 Release Camunda Platform Helm Chart v8.2.12
  .github/workflows/test-integration-main.yaml
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#850 ci: support trigger ci pipeline from another workflow
  .github/actions/pr-vars/action.yml
  .github/actions/workflow-vars/action.yml
  .github/workflows/test-integration-main.yaml
Labels: area/ci, size/m, area/test

#853 docs: embed chart integration tests by platform components
  .github/workflows/test-integration-kubernetes.yaml
  .github/workflows/test-integration-openshift.yaml
  .github/workflows/test-unit.yml
  README.md
  docs/gha-workflows.md
  docs/readme.md
Labels: kind/enhancement, size/s, kind/docs

#854 ci: pass extra values to integration test workflow
  .github/workflows/test-integration-main.yaml
Labels: kind/enhancement, size/xs, test-persistent

#859 ci: auto-merge renovate bot prs
  .github/renovate.json5
Labels: kind/enhancement, area/ci, size/s
