Repository camunda/camunda-platform-helm, pull requests merged in 2023-03, with the labels that each got.

#566 [Helm Charts] Connectors MVP - without keycloak
  charts/camunda-platform/README.md
  charts/camunda-platform/templates/NOTES.txt
  charts/camunda-platform/templates/connectors/_helpers.tpl
  charts/camunda-platform/templates/connectors/deployment.yaml
  charts/camunda-platform/templates/connectors/service.yaml
  charts/camunda-platform/templates/connectors/serviceaccount.yaml
  charts/camunda-platform/values.yaml
  kind/camunda-platform-core-kind-values.yaml
  test/integration/scenarios/chart-with-custom-values/values-custom.yaml
  test/integration/scenarios/chart-with-web-modeler/values-web-modeler-enabled.yaml
Labels: kind/enhancement, size/m

#584 refactor(web-modeler): migrate Web Modeler subchart to parent chart
  Makefile
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/README.md
  charts/camunda-platform/charts/identity/templates/_helpers.tpl
  charts/camunda-platform/charts/web-modeler/.helmignore
  charts/camunda-platform/charts/web-modeler/Chart.yaml
  charts/camunda-platform/charts/web-modeler/README.md
  charts/camunda-platform/charts/web-modeler/templates/deployment-websockets.yaml
  charts/camunda-platform/charts/web-modeler/templates/ingress.yaml
  charts/camunda-platform/charts/web-modeler/templates/secret-restapi.yaml
  charts/camunda-platform/openshift/values-patch.yaml
  charts/camunda-platform/openshift/values.yaml
  charts/camunda-platform/templates/NOTES.txt
  charts/camunda-platform/templates/web-modeler/_helpers.tpl
  charts/camunda-platform/templates/web-modeler/configmap-shared.yaml
  charts/camunda-platform/templates/web-modeler/deployment-restapi.yaml
  charts/camunda-platform/templates/web-modeler/deployment-webapp.yaml
  charts/camunda-platform/templates/web-modeler/deployment-websockets.yaml
  charts/camunda-platform/templates/web-modeler/ingress.yaml
  charts/camunda-platform/templates/web-modeler/secret-restapi.yaml
  charts/camunda-platform/templates/web-modeler/secret-shared.yaml
  charts/camunda-platform/templates/web-modeler/service-restapi.yaml
  charts/camunda-platform/templates/web-modeler/service-webapp.yaml
  charts/camunda-platform/templates/web-modeler/service-websockets.yaml
  charts/camunda-platform/templates/web-modeler/serviceaccount.yaml
  charts/camunda-platform/templates/web-modeler/tests/test-connection.yaml
  charts/camunda-platform/test/global_deployment_test.go
  charts/camunda-platform/test/integration/it-custom-values.yaml
  charts/camunda-platform/test/integration/it-keycloak-v19-values.yaml
  charts/camunda-platform/test/web-modeler/configmap_shared_test.go
  charts/camunda-platform/test/web-modeler/deployment_restapi_test.go
  charts/camunda-platform/test/web-modeler/deployment_test.go
  charts/camunda-platform/test/web-modeler/deployment_webapp_test.go
  charts/camunda-platform/test/web-modeler/deployment_websockets_test.go
  charts/camunda-platform/test/web-modeler/golden/configmap-shared.golden.yaml
  charts/camunda-platform/test/web-modeler/golden/deployment-restapi.golden.yaml
  charts/camunda-platform/test/web-modeler/golden/deployment-webapp.golden.yaml
  charts/camunda-platform/test/web-modeler/golden/deployment-websockets.golden.yaml
  charts/camunda-platform/test/web-modeler/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform/test/web-modeler/golden/ingress.golden.yaml
  charts/camunda-platform/test/web-modeler/golden/secret-shared.golden.yaml
  charts/camunda-platform/test/web-modeler/golden/service-restapi.golden.yaml
  charts/camunda-platform/test/web-modeler/golden/service-webapp.golden.yaml
  charts/camunda-platform/test/web-modeler/golden/service-websockets.golden.yaml
  charts/camunda-platform/test/web-modeler/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/web-modeler/goldenfiles_test.go
  charts/camunda-platform/test/web-modeler/ingress_test.go
  charts/camunda-platform/test/web-modeler/secret_restapi_test.go
  charts/camunda-platform/test/web-modeler/secret_shared_test.go
  charts/camunda-platform/test/web-modeler/service_test.go
  charts/camunda-platform/values.yaml
  test/integration/scenarios/chart-with-web-modeler/values-web-modeler-enabled.yaml
Labels: kind/enhancement, kind/refactor

#569 feat(web-modeler): add Web Modeler to combined Ingress
  charts/camunda-platform/README.md
  charts/camunda-platform/templates/ingress.yaml
  charts/camunda-platform/templates/web-modeler/_helpers.tpl
  charts/camunda-platform/templates/web-modeler/deployment-webapp.yaml
  charts/camunda-platform/templates/web-modeler/deployment-websockets.yaml
  charts/camunda-platform/test/ingress_test.go
  charts/camunda-platform/test/web-modeler/deployment_webapp_test.go
  charts/camunda-platform/test/web-modeler/deployment_websockets_test.go
  charts/camunda-platform/values.yaml
Labels: kind/enhancement, ingress

#589 fix(test): remove docker-registry secret from unrelated tests
  test/integration/scenarios/chart-upgrade/Taskfile.yaml
  test/integration/scenarios/chart-with-custom-values/Taskfile.yaml
  test/integration/scenarios/chart-with-default-values/Taskfile.yaml
  test/integration/scenarios/chart-with-keycloak-v19/Taskfile.yaml
  test/integration/scenarios/chart-with-web-modeler/Taskfile.yaml
  test/integration/scenarios/lib/init-docker-registry-taskfile.yaml
Labels: kind/bug, size/s, area/test

#591 Release Camunda Platform Helm Chart v8.1.7
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: chore, release

#592 chore(test): add optional image pull secrets to venom job
  .github/workflows/test-integration-kubernetes.yaml
  .github/workflows/test-integration-openshift.yaml
  .tool-versions
  test/integration/scenarios/chart-upgrade/Taskfile.yaml
  test/integration/scenarios/chart-with-custom-values/Taskfile.yaml
  test/integration/scenarios/chart-with-default-values/Taskfile.yaml
  test/integration/scenarios/chart-with-keycloak-v19/Taskfile.yaml
  test/integration/scenarios/chart-with-web-modeler/Taskfile.yaml
  test/integration/scenarios/lib/init-docker-registry-taskfile.yaml
  test/integration/scenarios/lib/init-seed-taskfile.yaml
  test/integration/scenarios/lib/testsuite-deploy-taskfile.yaml
  test/integration/testsuites/base/job.yaml
  test/integration/testsuites/base/patches/job-image-pull-secrets.yaml
Labels: kind/enhancement, size/s, area/test
