Repository camunda/camunda-platform-helm, pull requests merged in 2023-07, with the labels that each got.

#752 docs: add versions compatibility matrix
  README.md
  charts/camunda-platform/README.md
Labels: size/s, kind/docs

#772 Release Camunda Platform Helm Chart v8.2.7
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#775 Release Camunda Platform Helm Chart v8.0.18
  .github/workflows/release.yaml
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/optimize/templates/deployment.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
  charts/camunda-platform/test/optimize/golden/deployment.golden.yaml
Labels: camunda-platform, chore

#756 refactor: in connector disable operate client if inbound is disabled
  charts/camunda-platform/templates/connectors/deployment.yaml
  charts/camunda-platform/test/unit/connectors/deployment_test.go
Labels: kind/bug

#780 fix(config): remove the callback url suffix from optimize root redire…
  charts/camunda-platform/charts/optimize/templates/deployment.yaml
  charts/camunda-platform/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform/values/values-v8.0.yaml
  charts/camunda-platform/values/values-v8.1.yaml
Labels: kind/fix

#791 docs: update the versioning details
  README.md
  charts/camunda-platform/README.md
Labels: size/s, kind/docs

#792 ci: copy values files to gh-pages branch
  .github/workflows/chart-values-files.yaml
  charts/camunda-platform/README.md
Labels: area/ci, size/s

#808 Release Camunda Platform Helm Chart v8.2.9
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#812 Release Camunda Platform Helm Chart v8.2.10
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
  charts/camunda-platform/test/unit/connectors/golden/deployment.golden.yaml
Labels: camunda-platform, chore, release

#811 ci: support multi openshift clusters
  .github/workflows/test-integration-main.yaml
Labels: area/ci, size/s, area/test
