Repository camunda/camunda-platform-helm, pull requests merged in 2023-02, with the labels that each got.

#541 test: use venom for declarative integration tests
  .github/actions/gke-login/action.yml
  .github/actions/venom-deploy-testsuite/action.yml
  .github/workflows/test-integration-kubernetes.yaml
  test/integration/venom/base/config/venom-env-vars
  test/integration/venom/base/job.yaml
  test/integration/venom/base/kustomization.yaml
  test/integration/venom/base/testsuites/00-info.yaml
  test/integration/venom/core/kustomization.yaml
  test/integration/venom/core/patches/job.yaml
  test/integration/venom/core/testsuites/core.yaml
  test/integration/venom/preflight/kustomization.yaml
  test/integration/venom/preflight/testsuites/preflight.yaml
Labels: size/m, area/test

#544 chore(ci): test keycloak v19 with venom
  .github/workflows/test-integration-kubernetes.yaml
Labels: kind/enhancement, area/test

#545 feat: expose identity metrics port
  charts/camunda-platform/README.md
  charts/camunda-platform/charts/identity/templates/deployment.yaml
  charts/camunda-platform/charts/identity/templates/service.yaml
  charts/camunda-platform/test/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/identity/golden/service.golden.yaml
  charts/camunda-platform/values.yaml
  test/integration/venom/preflight/testsuites/preflight.yaml
Labels: size/s

#546 chore(ci): enhance venom integration tests
  .github/workflows/test-integration-kubernetes.yaml
  test/integration/fixtures/chart-identity-keycloak-v19.yaml
  test/integration/fixtures/values-enable-readiness.yaml
  test/integration/venom/preflight/testsuites/preflight.yaml
Labels: kind/enhancement, size/s, area/test

#547 chore(ci): use task runner to run integration tests
  .github/workflows/test-integration-kubernetes.yaml
  .tool-versions
  test/integration/scenarios/chart-with-default-values/Taskfile.yaml
  test/integration/scenarios/chart-with-keycloak-v19/Taskfile.yaml
  test/integration/scenarios/lib/testsuite-deploy-taskfile.yaml
Labels: kind/enhancement, area/ci, size/s, area/test

#549 refactor: customize identity/keycloak combined ingress endpoint
  charts/camunda-platform/README.md
  charts/camunda-platform/charts/identity/templates/_helpers.tpl
  charts/camunda-platform/charts/identity/templates/keycloak-service.yaml
  charts/camunda-platform/templates/ingress.yaml
  charts/camunda-platform/test/identity/service_test.go
  charts/camunda-platform/test/ingress_test.go
  charts/camunda-platform/values.yaml
Labels: size/s

#548 feat(web-modeler): add support for volume mounts
  charts/camunda-platform/README.md
  charts/camunda-platform/charts/web-modeler/templates/deployment-restapi.yaml
  charts/camunda-platform/charts/web-modeler/templates/deployment-webapp.yaml
  charts/camunda-platform/test/web-modeler/deployment_restapi_test.go
  charts/camunda-platform/test/web-modeler/deployment_webapp_test.go
  charts/camunda-platform/values.yaml
Labels: kind/enhancement, size/s

#550 Release Camunda Platform Helm Chart v8.1.6
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/web-modeler/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: chore, release

#565 feat(web-modeler): add support for startup/readiness/liveness probes
  charts/camunda-platform/README.md
  charts/camunda-platform/charts/web-modeler/templates/deployment-restapi.yaml
  charts/camunda-platform/charts/web-modeler/templates/deployment-webapp.yaml
  charts/camunda-platform/charts/web-modeler/templates/deployment-websockets.yaml
  charts/camunda-platform/test/web-modeler/deployment_restapi_test.go
  charts/camunda-platform/test/web-modeler/deployment_test.go
  charts/camunda-platform/test/web-modeler/deployment_webapp_test.go
  charts/camunda-platform/test/web-modeler/deployment_websockets_test.go
  charts/camunda-platform/test/web-modeler/golden/deployment-webapp.golden.yaml
  charts/camunda-platform/values.yaml
  test/integration/scenarios/chart-with-web-modeler/values-web-modeler-enabled.yaml
Labels: kind/enhancement
