Repository camunda/camunda-platform-helm, pull requests merged in 2024-11, with the labels that each got.

#2556 fix: update postgresql image tag to avoid bitnami broken release
  charts/camunda-platform-8.3/README.md
  charts/camunda-platform-8.3/values-latest.yaml
  charts/camunda-platform-8.3/values.yaml
  charts/camunda-platform-8.4/README.md
  charts/camunda-platform-8.4/values-latest.yaml
  charts/camunda-platform-8.4/values.yaml
  charts/camunda-platform-8.5/README.md
  charts/camunda-platform-8.5/values-latest.yaml
  charts/camunda-platform-8.5/values.yaml
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/values-latest.yaml
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/values-latest.yaml
  charts/camunda-platform-alpha/values.yaml
  charts/web-modeler-postgresql/README.md
  charts/web-modeler-postgresql/values.yaml
Labels: ad-hoc, size/xs, kind/medic

#2581 refactor(core): rename core statefulset to avoid upgrade downtime
  .github/workflows/test-version-alpha.yaml
  charts/camunda-platform-alpha/templates/core/_helpers.tpl
  charts/camunda-platform-alpha/templates/core/configmap.yaml
  charts/camunda-platform-alpha/templates/core/poddisruptionbudget.yaml
  charts/camunda-platform-alpha/templates/core/statefulset.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap-multiregion-failBack.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap-multiregion-failOver.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/statefulset.golden.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: size/s, test-persistent, tool/github-actions

#2584 fix(core): disable core client secret if identity is disabled
  charts/camunda-platform-alpha/templates/core/statefulset.yaml
Labels: size/xs

#2586 refactor: remove separated ingress functionality
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/NOTES.txt
  charts/camunda-platform-alpha/templates/camunda/_helpers.tpl
  charts/camunda-platform-alpha/templates/camunda/ingress-http.yaml
  charts/camunda-platform-alpha/templates/connectors/ingress.yaml
  charts/camunda-platform-alpha/templates/console/ingress.yaml
  charts/camunda-platform-alpha/templates/identity/_helpers.tpl
  charts/camunda-platform-alpha/templates/identity/ingress.yaml
  charts/camunda-platform-alpha/templates/optimize/ingress.yaml
  charts/camunda-platform-alpha/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-alpha/templates/web-modeler/ingress.yaml
  charts/camunda-platform-alpha/test/unit/connectors/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-alpha/test/unit/connectors/golden/ingress.golden.yaml
  charts/camunda-platform-alpha/test/unit/connectors/goldenfiles_test.go
  charts/camunda-platform-alpha/test/unit/connectors/ingress_test.go
  charts/camunda-platform-alpha/test/unit/console/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-alpha/test/unit/console/golden/ingress.golden.yaml
  charts/camunda-platform-alpha/test/unit/console/ingress_test.go
  charts/camunda-platform-alpha/test/unit/identity/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/ingress.golden.yaml
  charts/camunda-platform-alpha/test/unit/identity/ingress_test.go
  charts/camunda-platform-alpha/test/unit/optimize/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-alpha/test/unit/optimize/golden/ingress.golden.yaml
  charts/camunda-platform-alpha/test/unit/optimize/ingress_test.go
  charts/camunda-platform-alpha/test/unit/web-modeler/configmap_webapp_test.go
  charts/camunda-platform-alpha/test/unit/web-modeler/deployment_websockets_test.go
  charts/camunda-platform-alpha/test/unit/web-modeler/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-alpha/test/unit/web-modeler/golden/ingress.golden.yaml
  charts/camunda-platform-alpha/test/unit/web-modeler/ingress_test.go
  charts/camunda-platform-alpha/values.yaml
Labels: size/s, kind/refactor, kind/breaking-change, component/web-modeler, component/identity, component/optimize, component/connectors, component/console

#2588 refactor: remove support for global.multiregion.installationType
  charts/camunda-platform-alpha/templates/camunda/constraints.tpl
  charts/camunda-platform-alpha/templates/core/statefulset.yaml
  charts/camunda-platform-alpha/test/unit/core/configmap_test.go
  charts/camunda-platform-alpha/values.yaml
Labels: size/s, kind/refactor

#2594 feat: adding application override to console
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/console/configmap.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: component/console

#2598 ci: enable identity test client vars
  charts/camunda-platform-alpha/test/integration/scenarios/common/values-integration-test.yaml
Labels: size/xs

#2603 fix: add rerun GitHub actions
  .github/workflows/test-integration-template.yaml
Labels: kind/enhancement, area/ci, tool/github-actions

#2607 ci: add github-workflow-rerun-enabled flag for rerun github actions
  .github/workflows/test-integration-template.yaml
Labels: area/ci, tool/github-actions

#2510 fix: assign Zeebe role to demo user
  charts/camunda-platform-alpha/templates/identity/configmap.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/configmap.golden.yaml
Labels: component/identity
