Repository camunda/camunda-platform-helm, pull requests merged in 2024-10, with the labels that each got.

#2390 fix: rearranged env vars necessary for oidc to work with console
  charts/camunda-platform-alpha/templates/console/deployment.yaml
Labels: component/console

#2389 fix: identity baseUrl supplied regardless of multitenancy
  charts/camunda-platform-alpha/templates/zeebe-gateway/configmap.yaml
  charts/camunda-platform-alpha/test/unit/zeebe-gateway/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-alpha/test/unit/zeebe-gateway/golden/configmap.golden.yaml
Labels: component/zeebe

#2395 fix: define Web Modeler Admin role in identity
  charts/camunda-platform-alpha/templates/identity/configmap.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/configmap.golden.yaml
Labels: test-persistent, component/identity, tool/github-actions

#2407 chore: disable minor version update for camunda-platform-latest
  .github/renovate.json5
Labels: dependencies, size/xs, tool/renovatebot

#2422 fix: disable renovate minor version bumps on 8.2-8.4
  .github/renovate.json5
Labels: tool/renovatebot

#2437 fix: renovate shouldn't do minor upgrades past it's chart version
  .github/renovate.json5
Labels: tool/renovatebot

#2451 feat!: downgrade version once more
  .github/config/release-please/.release-please-manifest.json
Labels: tool/release-please

#2453 chore: fix chart + release-please-manifest
  .github/config/release-please/.release-please-manifest.json
  charts/camunda-platform-8.6/Chart.yaml
Labels: tool/release-please

#2459 fix: renovate web-modeler and console no longer does faulty minor upgrades
  .github/renovate.json5
Labels: tool/renovatebot

#2428 chore: rename camunda-platform-latest internally
  .github/workflows/chart-release-snapshot.yaml
  .github/workflows/chart-release.yaml
  .github/workflows/chart-validate-template.yaml
  .github/workflows/examples/test-helm-chart.yaml
  .github/workflows/test-integration-rosa-template.yaml
  .github/workflows/test-integration-template.yaml
  .github/workflows/test-unit-template.yml
  .github/workflows/test-version-latest.yaml
  docs/gha-workflows.md
Labels: area/ci, size/s, tool/github-actions

#2463 ci: create release candidate workflow
  .github/workflows/chart-release-candidate.yaml
  .github/workflows/chart-release-snapshot.yaml
  .github/workflows/chart-release-template.yaml
Labels: area/ci, area/cd, tool/github-actions

#2468 ci: update rc workflow
  .github/workflows/chart-release-candidate.yaml
  .github/workflows/chart-release-snapshot.yaml
  .github/workflows/chart-release-template.yaml
Labels: area/ci, size/xs, tool/github-actions

#2486 docs: added section about client secret handling
  charts/camunda-platform-8.6/README.md
Labels: documentation

#2487 fix: identity secret should be referenced
  charts/camunda-platform-8.4/charts/identity/templates/deployment.yaml
  charts/camunda-platform-8.4/test/unit/identity/deployment_test.go
  charts/camunda-platform-8.5/templates/identity/configmap.yaml
  charts/camunda-platform-8.5/templates/identity/deployment.yaml
  charts/camunda-platform-8.5/test/unit/identity/configmap_test.go
  charts/camunda-platform-8.5/test/unit/identity/deployment_test.go
  charts/camunda-platform-8.5/test/unit/identity/types.go
  charts/camunda-platform-8.6/templates/identity/configmap.yaml
  charts/camunda-platform-8.6/templates/identity/deployment.yaml
  charts/camunda-platform-8.6/test/unit/identity/configmap_test.go
  charts/camunda-platform-8.6/test/unit/identity/deployment_test.go
  charts/camunda-platform-8.6/test/unit/identity/types.go
Labels: blocked, component/identity

#2499 feat: add tags and custom-properties keys to the default console config
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/camunda/_helpers.tpl
  charts/camunda-platform-alpha/test/unit/console/golden/configmap.golden.yaml
Labels: kind/enhancement, size/xs

#2503 chore: update values-latest for 8.6
  charts/camunda-platform-8.6/values-latest.yaml
Labels: kind/chore, version/8.6

#2400 refactor: move identity env vars to config
  charts/camunda-platform-8.5/README.md
  charts/camunda-platform-8.5/templates/identity/configmap.yaml
  charts/camunda-platform-8.5/values.yaml
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/templates/identity/configmap.yaml
  charts/camunda-platform-8.6/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/identity/configmap.yaml
  charts/camunda-platform-alpha/templates/identity/deployment.yaml
  charts/camunda-platform-alpha/test/unit/identity/deployment_test.go
  charts/camunda-platform-alpha/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: blocked, component/identity

#2489 feat(web-modeler): add support for configuring Zeebe clusters
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/camunda/_helpers.tpl
  charts/camunda-platform-alpha/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-alpha/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-alpha/test/unit/web-modeler/types.go
  charts/camunda-platform-alpha/values.yaml
Labels: kind/enhancement, component/web-modeler

#2516 fix: zeebe gateway incorrect rest ingress path
  charts/camunda-platform-8.6/templates/zeebe-gateway/ingress-rest.yaml
  charts/camunda-platform-8.6/test/unit/zeebe-gateway/golden/ingress-rest-all-enabled.golden.yaml
  charts/camunda-platform-8.6/test/unit/zeebe-gateway/golden/ingress-rest.golden.yaml
  charts/camunda-platform-alpha/templates/zeebe-gateway/ingress-rest.yaml
  charts/camunda-platform-alpha/test/unit/zeebe-gateway/golden/ingress-rest-all-enabled.golden.yaml
  charts/camunda-platform-alpha/test/unit/zeebe-gateway/golden/ingress-rest.golden.yaml
Labels: kind/bug, kind/fix, component/zeebe, support, version/8.6

#2491 fix: set optimize global elasticsearch prefix
  charts/camunda-platform-8.3/templates/optimize/deployment.yaml
  charts/camunda-platform-8.3/test/unit/optimize/deployment_test.go
  charts/camunda-platform-8.3/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform-8.4/templates/optimize/deployment.yaml
  charts/camunda-platform-8.4/test/unit/optimize/deployment_test.go
  charts/camunda-platform-8.4/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform-8.5/templates/optimize/configmap.yaml
  charts/camunda-platform-8.5/test/unit/optimize/configmap_test.go
  charts/camunda-platform-8.5/test/unit/optimize/types.go
  charts/camunda-platform-8.6/templates/optimize/configmap.yaml
  charts/camunda-platform-8.6/test/unit/optimize/configmap_test.go
  charts/camunda-platform-8.6/test/unit/optimize/types.go
  charts/camunda-platform-alpha/templates/optimize/configmap.yaml
  charts/camunda-platform-alpha/test/unit/optimize/configmap_test.go
  charts/camunda-platform-alpha/test/unit/optimize/types.go
Labels: component/optimize

#2506 fix: do not set prefix
  charts/camunda-platform-alpha/templates/zeebe/configmap.yaml
  charts/camunda-platform-alpha/test/unit/zeebe/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-alpha/test/unit/zeebe/golden/configmap-multiregion-failBack.golden.yaml
  charts/camunda-platform-alpha/test/unit/zeebe/golden/configmap-multiregion-failOver.golden.yaml
  charts/camunda-platform-alpha/test/unit/zeebe/golden/configmap.golden.yaml
Labels: component/zeebe, cycle/alpha1

#2324 feat: support setting logging levels in all components
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/connectors/configmap.yaml
  charts/camunda-platform-alpha/templates/identity/configmap.yaml
  charts/camunda-platform-alpha/templates/optimize/configmap.yaml
  charts/camunda-platform-alpha/templates/optimize/deployment.yaml
  charts/camunda-platform-alpha/templates/tasklist/configmap.yaml
  charts/camunda-platform-alpha/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/tasklist/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: kind/enhancement, cycle/alpha1, component/web-modeler, component/identity, component/optimize, component/tasklist, component/connectors
