Repository camunda/camunda-platform-helm, pull requests merged in 2024-02, with the labels that each got.

#1280 fix: Strengthening Security with Renovate and Github Token Updates
  .github/renovate.json5
  .github/workflows/add-to-project.yml
  .github/workflows/chart-public-files.yaml
  .github/workflows/chart-release.yaml
  .github/workflows/dispatch-integration-backport.yaml
  .github/workflows/dispatch-integration.yaml
  .github/workflows/renovate-config-check.yaml
  .github/workflows/renovate-post-upgrade.yaml
  .github/workflows/test-integration-template.yaml
  .github/workflows/test-integration.yaml
  .github/workflows/test-regression.yaml
  .github/workflows/test-unit.yml
Labels: area/ci, area/security

#1265 chore(connectors): switch to Identity config
  charts/camunda-platform/README.md
  charts/camunda-platform/VERSION-MATRIX.md
  charts/camunda-platform/templates/connectors/_helpers.tpl
  charts/camunda-platform/templates/connectors/deployment.yaml
  charts/camunda-platform/test/unit/camunda/configmap_test.go
  charts/camunda-platform/test/unit/camunda/global_deployment_test.go
  charts/camunda-platform/test/unit/camunda/servicemonitor_test.go
  charts/camunda-platform/test/unit/connectors/deployment_test.go
  charts/camunda-platform/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/deployment_test.go
  charts/camunda-platform/test/unit/web-modeler/deployment_restapi_test.go
  charts/camunda-platform/test/unit/web-modeler/deployment_webapp_test.go
  charts/camunda-platform/values.yaml
  charts/camunda-platform/values/values-latest.yaml
Labels: chore

#1320 Release Camunda Platform Helm Chart v8.1.23
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#1317 ci: fix name in release notes
  .github/workflows/chart-release.yaml
Labels: area/ci, kind/fix

#1322 Release Camunda Platform Helm Chart v8.3.6
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
Labels: camunda-platform, chore, release

#1325 Release Camunda Platform Helm Chart v8.3.7
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
Labels: camunda-platform, chore, release

#1327 Release Camunda Platform Helm Chart v9.1.1
  .github/workflows/chart-release.yaml
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/VERSION-MATRIX.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
Labels: camunda-platform, chore, release

#1332 Release Camunda Platform Helm Chart v9.1.2
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/VERSION-MATRIX.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
Labels: camunda-platform, chore, release

#1340 Release Camunda Platform Helm Chart v8.1.24
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#1341 Release Camunda Platform Helm Chart v8.2.23
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#1347 ci: add test-integration-cleanup-template.yaml
  .github/workflows/test-integration-cleanup-template.yaml
Labels: area/ci, size/xs

#1360 Fix: Resolve critical security findings
  .github/workflows/chart-update-readme.yaml
  .github/workflows/chart-validate.yaml
Labels: area/ci, area/security

#1361 test: set console to false for openshift test
  charts/camunda-platform/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
Labels: area/ci

#1353 fix: update to use initialContactPoints for Zeebe Gateway
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/templates/zeebe-gateway/deployment.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/deployment.golden.yaml
Labels: kind/issue, size/xs, kind/fix

#1363 fix: add security policy
  SECURITY.md
Labels: area/security

#1351 feat(follow-up): console sm alpha - iter2
  Makefile
  charts/camunda-platform/README.md
  charts/camunda-platform/charts/identity/templates/deployment.yaml
  charts/camunda-platform/templates/camunda/_helpers.tpl
  charts/camunda-platform/templates/console/configmap.yaml
  charts/camunda-platform/templates/console/deployment.yaml
  charts/camunda-platform/templates/service-monitor/console-service-monitor.yaml
  charts/camunda-platform/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform/test/integration/scenarios/fixtures/values-integration-test.yaml
  charts/camunda-platform/test/integration/testsuites/base/files/variables-default.yaml
  charts/camunda-platform/test/integration/testsuites/base/files/variables-ingress-combined.yaml
  charts/camunda-platform/test/integration/testsuites/core/patches/job.yaml
  charts/camunda-platform/test/integration/testsuites/core/testsuites/core.yaml
  charts/camunda-platform/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/console/golden/service.golden.yaml
  charts/camunda-platform/test/unit/console/goldenfiles_test.go
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/zeebe/golden/statefulset.golden.yaml
  charts/camunda-platform/values.yaml
Labels: feature, size/m, test-persistent

#1369 fix: Create codeql.yml with customized settings
  .github/workflows/sec-codeql.yml
Labels: area/security

#1380 Release Camunda Platform Helm Chart v8.1.25
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#1381 Release Camunda Platform Helm Chart v8.2.24
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#1382 Release Camunda Platform Helm Chart v8.3.8
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
Labels: camunda-platform, chore, release

#1383 Release Camunda Platform Helm Chart v9.1.3
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/VERSION-MATRIX.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
Labels: camunda-platform, chore, release

#1384 chore: tidy up console values
  charts/camunda-platform/README.md
  charts/camunda-platform/templates/console/configmap.yaml
  charts/camunda-platform/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform/values.yaml
Labels: kind/enhancement

#1385 Release Camunda Platform Helm Chart v9.2.0
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/VERSION-MATRIX.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
Labels: camunda-platform, chore, release
