Repository camunda/camunda-platform-helm, pull requests merged in 2024-01, with the labels that each got.

#1176 feat(web-modeler): custom OIDC configuration for Web Modeler
  charts/camunda-platform/README.md
  charts/camunda-platform/templates/web-modeler/_helpers.tpl
  charts/camunda-platform/templates/web-modeler/deployment-restapi.yaml
  charts/camunda-platform/templates/web-modeler/deployment-webapp.yaml
  charts/camunda-platform/test/unit/web-modeler/deployment_restapi_test.go
  charts/camunda-platform/test/unit/web-modeler/deployment_webapp_test.go
  charts/camunda-platform/test/unit/web-modeler/golden/deployment-restapi.golden.yaml
  charts/camunda-platform/test/unit/web-modeler/golden/deployment-webapp.golden.yaml
  charts/camunda-platform/values.yaml
Labels: breaking-change, version/8.4

#1186 Release Camunda Platform Helm Chart v8.1.22
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore, release

#1199 Release Camunda Platform Helm Chart v8.2.20
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
Labels: camunda-platform, chore

#1204 ci: enhance version matrix and release notes generation
  .chglog/CHANGELOG.tpl.md
  .github/workflows/chart-release.yaml
  .tool-versions
  Makefile
  charts/camunda-platform/README.md
  charts/camunda-platform/VERSION-MATRIX.md
  charts/camunda-platform/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform/values.yaml
  release/release-notes-footer/RELEASE-NOTES-FOOTER.md.tpl
  scripts/generate-version-matrix.sh
Labels: area/ci

#1206 Release Camunda Platform Helm Chart v9.0.0
  .github/workflows/chart-release.yaml
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/README.md
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/VERSION-MATRIX.md
  charts/camunda-platform/test/integration/testsuites/core/testsuites/core.yaml
  charts/camunda-platform/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform/values.yaml
  charts/camunda-platform/values/values-latest.yaml
  scripts/generate-version-matrix.sh
Labels: camunda-platform, chore, release

#1216 Release Camunda Platform Helm Chart v9.0.1
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/VERSION-MATRIX.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
Labels: camunda-platform, chore, release

#1218 Release Camunda Platform Helm Chart v8.3.5
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
Labels: camunda-platform, chore, release

#1219 Release Camunda Platform Helm Chart v9.0.2
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/VERSION-MATRIX.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
Labels: camunda-platform, chore, release

#1232 chore: format release into as yaml
  charts/camunda-platform/templates/camunda/_helpers.tpl
  charts/camunda-platform/templates/camunda/configmap-release.yaml
Labels: size/xs

#1240 refactor(console): pass config to console directly
  charts/camunda-platform/templates/camunda/configmap-release.yaml
  charts/camunda-platform/templates/console/configmap.yaml
  charts/camunda-platform/templates/console/deployment.yaml
  charts/camunda-platform/values.yaml
Labels: size/xs

#1245 refactor: ensure all components support service annotations
  charts/camunda-platform/README.md
  charts/camunda-platform/charts/identity/templates/keycloak-service.yaml
  charts/camunda-platform/charts/identity/templates/service.yaml
  charts/camunda-platform/templates/connectors/service.yaml
  charts/camunda-platform/templates/console/service.yaml
  charts/camunda-platform/templates/operate/service.yaml
  charts/camunda-platform/templates/optimize/service.yaml
  charts/camunda-platform/templates/tasklist/service.yaml
  charts/camunda-platform/templates/web-modeler/service-restapi.yaml
  charts/camunda-platform/templates/web-modeler/service-webapp.yaml
  charts/camunda-platform/templates/web-modeler/service-websockets.yaml
  charts/camunda-platform/templates/zeebe-gateway/service.yaml
  charts/camunda-platform/templates/zeebe/service.yaml
  charts/camunda-platform/test/unit/tasklist/golden/service.golden.yaml
  charts/camunda-platform/test/unit/tasklist/service_test.go
  charts/camunda-platform/test/unit/zeebe/golden/service.golden.yaml
  charts/camunda-platform/test/unit/zeebe/statefulset_test.go
  charts/camunda-platform/values.yaml
Labels: kind/refactor, size/xs

#1246 ci: update openshift version and vars
  .github/workflows/test-integration-template.yaml
Labels: kind/enhancement, area/ci, platform/openshift, size/xs

#1252 refactor(console): add zeebe broker to the release configmap
  charts/camunda-platform/templates/camunda/_helpers.tpl
Labels: kind/refactor, size/xs

#1262 Release Camunda Platform Helm Chart v9.1.0
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
Labels: camunda-platform, chore, release
