Repository camunda/camunda-platform-helm, pull requests merged in 2024-03, with the labels that each got.

#1377 feat: support OIDC in identity deployments
  charts/camunda-platform/README.md
  charts/camunda-platform/charts/identity/templates/_helpers.tpl
  charts/camunda-platform/charts/identity/templates/configmap-env-vars.yaml
  charts/camunda-platform/charts/identity/templates/deployment.yaml
  charts/camunda-platform/templates/camunda/constraints.tpl
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/web-modeler/deployment_restapi_test.go
  charts/camunda-platform/test/unit/web-modeler/deployment_webapp_test.go
  charts/camunda-platform/values.yaml
Labels: test-persistent

#1393 chore: set console internal auth var and port-forward
  charts/camunda-platform/templates/NOTES.txt
  charts/camunda-platform/templates/console/deployment.yaml
  charts/camunda-platform/test/unit/console/golden/deployment.golden.yaml
Labels: feature

#1413 Release Camunda Platform Helm Chart v8.1.26
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
  charts/camunda-platform/test/golden/curator-configmap.golden.yaml
  charts/camunda-platform/test/golden/curator-cronjob.golden.yaml
  charts/camunda-platform/test/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform/test/golden/service-monitor.golden.yaml
  charts/camunda-platform/test/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/identity/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform/test/identity/golden/ingress.golden.yaml
  charts/camunda-platform/test/identity/golden/operate-secret.golden.yaml
  charts/camunda-platform/test/identity/golden/service.golden.yaml
  charts/camunda-platform/test/identity/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/identity/golden/tasklist-secret.golden.yaml
  charts/camunda-platform/test/operate/golden/configmap.golden.yaml
  charts/camunda-platform/test/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/operate/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform/test/operate/golden/ingress.golden.yaml
  charts/camunda-platform/test/operate/golden/service.golden.yaml
  charts/camunda-platform/test/operate/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/tasklist/golden/configmap.golden.yaml
  charts/camunda-platform/test/tasklist/golden/deployment.golden.yaml
  charts/camunda-platform/test/tasklist/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform/test/tasklist/golden/ingress.golden.yaml
  charts/camunda-platform/test/tasklist/golden/service.golden.yaml
  charts/camunda-platform/test/zeebe-gateway/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform/test/zeebe-gateway/golden/configmap.golden.yaml
  charts/camunda-platform/test/zeebe-gateway/golden/gateway-deployment.golden.yaml
  charts/camunda-platform/test/zeebe-gateway/golden/gateway-service.golden.yaml
  charts/camunda-platform/test/zeebe-gateway/golden/gateway-serviceaccount.golden.yaml
  charts/camunda-platform/test/zeebe-gateway/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform/test/zeebe-gateway/golden/ingress.golden.yaml
  charts/camunda-platform/test/zeebe-gateway/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform/test/zeebe-gateway/golden/serviceaccount-annotations.golden.yaml
  charts/camunda-platform/test/zeebe/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform/test/zeebe/golden/configmap.golden.yaml
  charts/camunda-platform/test/zeebe/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform/test/zeebe/golden/service.golden.yaml
  charts/camunda-platform/test/zeebe/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/zeebe/golden/statefulset.golden.yaml
  charts/camunda-platform/values.yaml
  test/integration/testsuites/core/testsuites/core.yaml
Labels: release

#1414 Release Camunda Platform Helm Chart v8.2.25
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/charts/operate/Chart.yaml
  charts/camunda-platform/charts/optimize/Chart.yaml
  charts/camunda-platform/charts/tasklist/Chart.yaml
  charts/camunda-platform/charts/zeebe-gateway/Chart.yaml
  charts/camunda-platform/charts/zeebe/Chart.yaml
  charts/camunda-platform/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/connectors/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform/test/unit/connectors/golden/ingress.golden.yaml
  charts/camunda-platform/test/unit/connectors/golden/service.golden.yaml
  charts/camunda-platform/test/unit/connectors/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/golden/curator-configmap.golden.yaml
  charts/camunda-platform/test/unit/golden/curator-cronjob.golden.yaml
  charts/camunda-platform/test/unit/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform/test/unit/golden/service-monitor.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/ingress.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/operate-secret.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/service.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/tasklist-secret.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/ingress.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/service.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/optimize/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform/test/unit/optimize/golden/ingress.golden.yaml
  charts/camunda-platform/test/unit/optimize/golden/service.golden.yaml
  charts/camunda-platform/test/unit/optimize/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/ingress.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/service.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/gateway-deployment.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/gateway-service.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/gateway-serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/ingress.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/serviceaccount-annotations.golden.yaml
  charts/camunda-platform/test/unit/zeebe/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform/test/unit/zeebe/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/zeebe/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform/test/unit/zeebe/golden/service.golden.yaml
  charts/camunda-platform/test/unit/zeebe/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/zeebe/golden/statefulset.golden.yaml
  charts/camunda-platform/values.yaml
  charts/camunda-platform/values/values-latest.yaml
Labels: camunda-platform, chore, release

#1391 fix: add support for automountServiceAccountToken
  charts/camunda-platform/charts/identity/templates/serviceaccount.yaml
  charts/camunda-platform/templates/connectors/serviceaccount.yaml
  charts/camunda-platform/templates/console/serviceaccount.yaml
  charts/camunda-platform/templates/operate/serviceaccount.yaml
  charts/camunda-platform/templates/optimize/serviceaccount.yaml
  charts/camunda-platform/templates/tasklist/serviceaccount.yaml
  charts/camunda-platform/templates/web-modeler/serviceaccount.yaml
  charts/camunda-platform/templates/zeebe-gateway/serviceaccount.yaml
  charts/camunda-platform/templates/zeebe/serviceaccount.yaml
  charts/camunda-platform/test/unit/connectors/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/console/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/optimize/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/web-modeler/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/serviceaccount-annotations.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/zeebe/golden/serviceaccount.golden.yaml
  charts/camunda-platform/values.yaml
Labels: kind/enhancement, size/s, kind/task, support/enterprise, kind/support

#1438 Release Camunda Platform Helm Chart v8.3.10
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
Labels: camunda-platform, chore, release

#1453 Release Camunda Platform Helm Chart v9.3.1
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/README.md
  charts/camunda-platform/RELEASE-NOTES.md
  charts/camunda-platform/VERSION-MATRIX.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
  charts/camunda-platform/values.yaml
Labels: camunda-platform, chore, release

#1452 refactor: use the unified uid and gid 1001
  charts/camunda-platform/README.md
  charts/camunda-platform/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/tasklist/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/web-modeler/golden/deployment-restapi.golden.yaml
  charts/camunda-platform/test/unit/web-modeler/golden/deployment-webapp.golden.yaml
  charts/camunda-platform/test/unit/web-modeler/golden/deployment-websockets.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/zeebe/golden/statefulset.golden.yaml
  charts/camunda-platform/values.yaml
Labels: size/xs, kind/fix

#1448 refactor!: move identity to top-level instead of sub-chart
  Makefile
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/README.md
  charts/camunda-platform/charts/identity/.helmignore
  charts/camunda-platform/charts/identity/README.md
  charts/camunda-platform/charts/identity/templates/ingress.yaml
  charts/camunda-platform/charts/identity/templates/serviceaccount.yaml
  charts/camunda-platform/templates/NOTES.txt
  charts/camunda-platform/templates/camunda/_helpers.tpl
  charts/camunda-platform/templates/camunda/configmap-identity-auth.yaml
  charts/camunda-platform/templates/camunda/constraints.tpl
  charts/camunda-platform/templates/camunda/ingress.yaml
  charts/camunda-platform/templates/connectors/deployment.yaml
  charts/camunda-platform/templates/identity/_helpers.tpl
  charts/camunda-platform/templates/identity/configmap-env-vars.yaml
  charts/camunda-platform/templates/identity/constraints.tpl
  charts/camunda-platform/templates/identity/deployment.yaml
  charts/camunda-platform/templates/identity/ingress.yaml
  charts/camunda-platform/templates/identity/keycloak-service.yaml
  charts/camunda-platform/templates/identity/postgresql-secret.yaml
  charts/camunda-platform/templates/identity/service.yaml
  charts/camunda-platform/templates/identity/serviceaccount.yaml
  charts/camunda-platform/templates/identity/tests/test-connection.yaml
  charts/camunda-platform/templates/operate/deployment.yaml
  charts/camunda-platform/templates/tasklist/deployment.yaml
  charts/camunda-platform/templates/web-modeler/_helpers.tpl
  charts/camunda-platform/templates/zeebe-gateway/deployment.yaml
  charts/camunda-platform/templates/zeebe-gateway/service.yaml
  charts/camunda-platform/templates/zeebe/service.yaml
  charts/camunda-platform/templates/zeebe/statefulset.yaml
  charts/camunda-platform/test/integration/scenarios/lib/chart-upgrade-taskfile.yaml
  charts/camunda-platform/test/unit/camunda/global_deployment_test.go
  charts/camunda-platform/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform/test/unit/camunda/ingress_test.go
  charts/camunda-platform/test/unit/camunda/keycloak_statefulset_test.go
  charts/camunda-platform/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/identity/configmap_test.go
  charts/camunda-platform/test/unit/identity/deployment_test.go
  charts/camunda-platform/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/ingress.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/service.golden.yaml
  charts/camunda-platform/test/unit/identity/golden/serviceaccount.golden.yaml
  charts/camunda-platform/test/unit/identity/goldenfiles_test.go
  charts/camunda-platform/test/unit/identity/ingress_test.go
  charts/camunda-platform/test/unit/identity/secret_test.go
  charts/camunda-platform/test/unit/identity/service_test.go
  charts/camunda-platform/test/unit/operate/deployment_test.go
  charts/camunda-platform/test/unit/optimize/deployment_test.go
  charts/camunda-platform/test/unit/tasklist/deployment_test.go
  charts/camunda-platform/test/unit/zeebe-gateway/deployment_test.go
  charts/camunda-platform/values.yaml
Labels: kind/enhancement, size/m, kind/refactor, breaking-change, test-persistent

#1451 refactor!: rename web-modeler postgres values file key to webModelerPostgresql
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/README.md
  charts/camunda-platform/charts/identity/Chart.yaml
  charts/camunda-platform/openshift/values.yaml
  charts/camunda-platform/templates/operate/_helpers.tpl
  charts/camunda-platform/templates/web-modeler/_helpers.tpl
  charts/camunda-platform/templates/web-modeler/secret-restapi.yaml
  charts/camunda-platform/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform/test/integration/scenarios/chart-with-web-modeler/values-web-modeler-enabled.yaml
  charts/camunda-platform/test/unit/web-modeler/deployment_restapi_test.go
  charts/camunda-platform/test/unit/web-modeler/goldenfiles_test.go
  charts/camunda-platform/test/unit/web-modeler/secret_restapi_test.go
  charts/camunda-platform/values.yaml
  docs/gha-workflows.md
Labels: kind/enhancement, size/s, breaking-change, test-persistent

#1459 refactor!: rename zeebe-gateway key from to zeebeGateway
  MIGRATION.md
  charts/camunda-platform/README.md
  charts/camunda-platform/openshift/values.yaml
  charts/camunda-platform/templates/NOTES.txt
  charts/camunda-platform/templates/connectors/_helpers.tpl
  charts/camunda-platform/templates/zeebe-gateway/_helpers.tpl
  charts/camunda-platform/templates/zeebe-gateway/configmap.yaml
  charts/camunda-platform/templates/zeebe-gateway/deployment.yaml
  charts/camunda-platform/templates/zeebe-gateway/ingress.yaml
  charts/camunda-platform/templates/zeebe-gateway/poddisruptionbudget.yaml
  charts/camunda-platform/templates/zeebe-gateway/service.yaml
  charts/camunda-platform/templates/zeebe-gateway/serviceaccount.yaml
  charts/camunda-platform/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform/test/integration/scenarios/chart-with-custom-values/values-custom.yaml
  charts/camunda-platform/test/integration/scenarios/fixtures/values-integration-test.yaml
  charts/camunda-platform/test/integration/testsuites/preflight/testsuites/preflight.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/configmap_test.go
  charts/camunda-platform/test/unit/zeebe-gateway/deployment_test.go
  charts/camunda-platform/test/unit/zeebe-gateway/ingress_test.go
  charts/camunda-platform/test/unit/zeebe-gateway/poddisruptionbudget_test.go
  charts/camunda-platform/test/unit/zeebe-gateway/service_test.go
  charts/camunda-platform/test/unit/zeebe-gateway/serviceaccount_test.go
  charts/camunda-platform/values.yaml
  docs/gha-workflows.md
  kind/camunda-platform-core-kind-values.yaml
Labels: size/s, kind/refactor, breaking-change

#1474 refactor: upgrade elasticsearch from 8.9 to 8.12
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/README.md
  charts/camunda-platform/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform/values.yaml
Labels: dependencies, size/xs

#1486 chore: fail if refactored keys are not updated
  .github/workflows/test-integration-template.yaml
  charts/camunda-platform/README.md
  charts/camunda-platform/templates/identity/_helpers.tpl
  charts/camunda-platform/templates/identity/constraints.tpl
  charts/camunda-platform/templates/web-modeler/constraints.tpl
  charts/camunda-platform/templates/zeebe-gateway/constraints.tpl
  charts/camunda-platform/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform/test/integration/scenarios/lib/chart-upgrade-taskfile.yaml
  charts/camunda-platform/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/console/golden/deployment.golden.yaml
Labels: size/xs

#1489 feat: Add resource and limits to curator-cronjob for 8.2
  charts/camunda-platform/templates/curator-cronjob.yaml
  charts/camunda-platform/test/unit/golden/curator-cronjob.golden.yaml
  charts/camunda-platform/values.yaml
Labels: kind/enhancement

#1229 refactor: upgrade keycloak from v22 to v23
  charts/camunda-platform/Chart.yaml
  charts/camunda-platform/README.md
  charts/camunda-platform/test/integration/testsuites/base/files/variables-ingress-combined.yaml
  charts/camunda-platform/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform/values.yaml
Labels: kind/refactor, dependencies, test-persistent

#1487 fix: defining resources and limits for optimize migration container
  charts/camunda-platform/templates/optimize/deployment.yaml
  charts/camunda-platform/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform/values.yaml
Labels: kind/enhancement, size/s, kind/issue

#1501 Enable Identity for the Zeebe REST API
  charts/camunda-platform/README.md
  charts/camunda-platform/templates/zeebe-gateway/deployment.yaml
  charts/camunda-platform/test/integration/testsuites/base/files/variables-default.yaml
  charts/camunda-platform/test/integration/testsuites/base/files/variables-ingress-combined.yaml
  charts/camunda-platform/test/integration/testsuites/core/testsuites/core.yaml
  charts/camunda-platform/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform/test/unit/zeebe-gateway/deployment_test.go
  charts/camunda-platform/test/unit/zeebe-gateway/golden/deployment.golden.yaml
  charts/camunda-platform/test/unit/zeebe/golden/statefulset.golden.yaml
  charts/camunda-platform/values.yaml
Labels: test-persistent

#1509 feat: support customizing ingress pathType
  charts/camunda-platform/README.md
  charts/camunda-platform/templates/camunda/ingress.yaml
  charts/camunda-platform/templates/connectors/ingress.yaml
  charts/camunda-platform/templates/console/ingress.yaml
  charts/camunda-platform/templates/identity/ingress.yaml
  charts/camunda-platform/templates/operate/ingress.yaml
  charts/camunda-platform/templates/optimize/ingress.yaml
  charts/camunda-platform/templates/tasklist/ingress.yaml
  charts/camunda-platform/templates/web-modeler/ingress.yaml
  charts/camunda-platform/templates/zeebe-gateway/ingress-grpc.yaml
  charts/camunda-platform/templates/zeebe-gateway/ingress-rest.yaml
  charts/camunda-platform/values.yaml
Labels: kind/enhancement, size/xs
