Repository camunda/camunda-platform-helm, pull requests merged in 2024-09, with the labels that each got.

#2288 feat: support optional chart secrets auto-generation - Camunda 8.5
  .github/config/external-secret/external-secret-integration-test-credentials.yaml
  .github/workflows/test-integration-template.yaml
  .github/workflows/test-version-latest.yaml
  charts/camunda-platform-latest/README.md
  charts/camunda-platform-latest/templates/camunda/secret-camunda.yaml
  charts/camunda-platform-latest/templates/camunda/secret-connectors.yaml
  charts/camunda-platform-latest/templates/camunda/secret-console.yaml
  charts/camunda-platform-latest/templates/camunda/secret-operate.yaml
  charts/camunda-platform-latest/templates/camunda/secret-optimize.yaml
  charts/camunda-platform-latest/templates/camunda/secret-tasklist.yaml
  charts/camunda-platform-latest/templates/camunda/secret-zeebe.yaml
  charts/camunda-platform-latest/templates/connectors/deployment.yaml
  charts/camunda-platform-latest/templates/identity/deployment.yaml
  charts/camunda-platform-latest/templates/operate/deployment.yaml
  charts/camunda-platform-latest/templates/optimize/deployment.yaml
  charts/camunda-platform-latest/templates/tasklist/deployment.yaml
  charts/camunda-platform-latest/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-latest/test/integration/scenarios/common/values-integration-test.yaml
  charts/camunda-platform-latest/test/integration/testsuites/core/patches/job.yaml
  charts/camunda-platform-latest/values.yaml
Labels: kind/enhancement, size/s, version/8.5, component/identity, component/operate, component/optimize, component/tasklist, component/connectors, tool/github-actions

#2290 feat: support optional chart secrets auto-generation - camunda 8.4
  charts/camunda-platform-8.4/README.md
  charts/camunda-platform-8.4/charts/identity/templates/_helpers.tpl
  charts/camunda-platform-8.4/charts/identity/templates/deployment.yaml
  charts/camunda-platform-8.4/templates/camunda/secret-camunda.yaml
  charts/camunda-platform-8.4/templates/camunda/secret-connectors.yaml
  charts/camunda-platform-8.4/templates/camunda/secret-console.yaml
  charts/camunda-platform-8.4/templates/camunda/secret-operate.yaml
  charts/camunda-platform-8.4/templates/camunda/secret-optimize.yaml
  charts/camunda-platform-8.4/templates/camunda/secret-tasklist.yaml
  charts/camunda-platform-8.4/templates/camunda/secret-zeebe.yaml
  charts/camunda-platform-8.4/templates/connectors/deployment.yaml
  charts/camunda-platform-8.4/templates/connectors/inbound-secret.yaml
  charts/camunda-platform-8.4/templates/operate/deployment.yaml
  charts/camunda-platform-8.4/templates/optimize/deployment.yaml
  charts/camunda-platform-8.4/templates/tasklist/deployment.yaml
  charts/camunda-platform-8.4/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-8.4/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-8.4/test/integration/scenarios/common/values-integration-test.yaml
  charts/camunda-platform-8.4/test/integration/testsuites/core/patches/job.yaml
  charts/camunda-platform-8.4/values.yaml
Labels: component/web-modeler, component/identity, component/operate, component/optimize, component/tasklist, component/connectors

#2247 feat: execution identity integration
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/execution-identity/_helpers.tpl
  charts/camunda-platform-alpha/templates/execution-identity/configmap.yaml
  charts/camunda-platform-alpha/templates/execution-identity/deployment.yaml
  charts/camunda-platform-alpha/templates/execution-identity/ingress.yaml
  charts/camunda-platform-alpha/templates/execution-identity/service.yaml
  charts/camunda-platform-alpha/templates/execution-identity/serviceaccount.yaml
  charts/camunda-platform-alpha/test/unit/execution-identity/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/test/unit/execution-identity/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/execution-identity/golden/service.golden.yaml
  charts/camunda-platform-alpha/test/unit/execution-identity/golden/serviceaccount.golden.yaml
  charts/camunda-platform-alpha/test/unit/execution-identity/goldenfiles_test.go
  charts/camunda-platform-alpha/values.yaml
Labels: kind/enhancement, feature, cycle/alpha5

#2293 chore: update test secret name for camunda 8.3 and 8.2
  .github/workflows/test-integration-template.yaml
  .github/workflows/test-version-maintenance.yaml
  charts/camunda-platform-8.2/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-8.2/test/integration/scenarios/common/values-integration-test.yaml
  charts/camunda-platform-8.2/test/integration/testsuites/core/patches/job.yaml
  charts/camunda-platform-8.3/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-8.3/test/integration/scenarios/common/values-integration-test.yaml
  charts/camunda-platform-8.3/test/integration/testsuites/core/patches/job.yaml
  docs/gha-workflows.md
  test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
Labels: tool/github-actions

#2298 feat: increase elasticsearch nodes to 3
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/values.yaml
Labels: kind/enhancement, size/xs

#2232 feat: adding aws config in apps for OpenSearch
  charts/camunda-platform-alpha/templates/operate/configmap.yaml
  charts/camunda-platform-alpha/templates/optimize/deployment.yaml
  charts/camunda-platform-alpha/templates/tasklist/configmap.yaml
  charts/camunda-platform-latest/templates/operate/configmap.yaml
  charts/camunda-platform-latest/templates/optimize/deployment.yaml
  charts/camunda-platform-latest/templates/tasklist/configmap.yaml
Labels: component/operate, component/optimize, component/tasklist

#2108 ci: automatically update the readme and golden files on PRs
  .github/workflows/chart-update-readme-and-golden-files.yaml
  .github/workflows/chart-update-readme.yaml
Labels: area/ci, tool/github-actions

#2305 ci: add Set Vars step to renovate config
  .github/workflows/renovate-post-upgrade.yaml
Labels: area/ci, tool/github-actions

#2309 fix: disable console in 8.4
  charts/camunda-platform-8.4/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
Labels: kind/bug, area/ci

#2310 fix: added contextpath to 8.4 identity
  charts/camunda-platform-8.4/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-8.4/test/integration/testsuites/vars/files/testsuite-core.yaml
Labels: kind/bug, component/identity

#2311 fix: add bot to ignoredAuthors for renovate to automerge again
  .github/renovate.json5
Labels: tool/renovatebot

#2313 chore(deps): update dependency golang to v1.23.1
  .tool-versions
Labels: kind/chore, dependencies, automerge, automation/renovatebot, deps/tools, tool/asdf

#2340 fix: use named version of identity to copy camunda theme
  charts/camunda-platform-latest/README.md
  charts/camunda-platform-latest/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform-latest/values-latest.yaml
  charts/camunda-platform-latest/values.yaml
Labels: size/xs, kind/fix

#2343 ci(repo): better format for the integration workflow inputs
  .github/workflows/test-integration-template.yaml
Labels: kind/enhancement, area/ci, ad-hoc, tool/github-actions

#2345 chore: use Renovatebot new secrets syntax
  .github/renovate.json5
Labels: area/ci, size/xs, tool/renovatebot

#2353 chore: use renovatebot new secrets syntax
  .github/renovate.json5
Labels: tool/renovatebot

#2355 fix: double-slash issue in health check paths and constraints for Zeebe Gateway
  charts/camunda-platform-alpha/templates/camunda/_helpers.tpl
  charts/camunda-platform-alpha/templates/camunda/constraints.tpl
  charts/camunda-platform-alpha/templates/zeebe-gateway/_helpers.tpl
  charts/camunda-platform-alpha/templates/zeebe-gateway/deployment.yaml
  charts/camunda-platform-alpha/templates/zeebe-gateway/ingress-rest.yaml
  charts/camunda-platform-alpha/test/unit/zeebe-gateway/deployment_test.go
  charts/camunda-platform-alpha/test/unit/zeebe-gateway/golden/ingress-rest-all-enabled.golden.yaml
  charts/camunda-platform-alpha/test/unit/zeebe-gateway/golden/ingress-rest.golden.yaml
  charts/camunda-platform-latest/templates/camunda/constraints.tpl
  charts/camunda-platform-latest/templates/zeebe-gateway/_helpers.tpl
  charts/camunda-platform-latest/templates/zeebe-gateway/deployment.yaml
  charts/camunda-platform-latest/test/unit/zeebe-gateway/deployment_test.go
Labels: kind/issue, kind/fix, component/zeebe, code-freeze

#2356 refactor: using bitnami oci chart repository
  charts/camunda-platform-8.2/Chart.yaml
  charts/camunda-platform-8.2/charts/identity/Chart.yaml
  charts/camunda-platform-8.3/Chart.yaml
  charts/camunda-platform-8.3/charts/identity/Chart.yaml
  charts/camunda-platform-8.4/Chart.yaml
  charts/camunda-platform-8.4/charts/identity/Chart.yaml
  charts/camunda-platform-alpha/Chart.yaml
  charts/camunda-platform-latest/Chart.yaml
  charts/web-modeler-postgresql/Chart.yaml
  charts/web-modeler-postgresql/README.md
  charts/web-modeler-postgresql/charts/common/README.md
Labels: kind/refactor, ad-hoc, dependencies, component/identity

#2361 fix: Include opensearch env vars in operate initContainer
  charts/camunda-platform-latest/templates/operate/deployment.yaml
Labels: component/operate

#2370 fix: identity firstuser existingsecretkey has no effect
  charts/camunda-platform-8.4/charts/identity/templates/deployment.yaml
  charts/camunda-platform-latest/templates/identity/deployment.yaml
Labels: version/8.4, version/8.5, component/identity

#2372 refactor: default keycloak ingress pathType to Prefix
  charts/camunda-platform-8.2/values.yaml
  charts/camunda-platform-8.3/README.md
  charts/camunda-platform-8.3/values.yaml
  charts/camunda-platform-8.4/README.md
  charts/camunda-platform-8.4/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/values.yaml
  charts/camunda-platform-latest/README.md
  charts/camunda-platform-latest/values.yaml
Labels: kind/refactor, size/xs

#2328 fix: warning added to NOTES about installationType
  charts/camunda-platform-alpha/templates/camunda/constraints.tpl
Labels: documentation
