Repository camunda/camunda-platform-helm, pull requests merged in 2024-12, with the labels that each got.

#2629 fix(core): small bug fixes and set correct values
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/service-monitor/core-service-monitor.yaml
  charts/camunda-platform-alpha/test/unit/camunda/golden/core-service-monitor.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/statefulset.golden.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: size/xs, component/monitoring

#2566 fix: add default webModler url when ingress is disabled
  charts/camunda-platform-8.6/templates/camunda/_helpers.tpl
  charts/camunda-platform-alpha/templates/camunda/_helpers.tpl
Labels: kind/fix, version/8.6

#2505 feat: adding TLS support to console
  charts/camunda-platform-8.6/templates/console/deployment.yaml
  charts/camunda-platform-8.6/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/console/deployment.yaml
  charts/camunda-platform-alpha/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: component/console

#2639 fix(8.7): wrong roles for identity user
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/core/configmap.yaml
  charts/camunda-platform-alpha/templates/identity/configmap.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: test-persistent, kind/medic, component/identity

#2643 feat: add core unified prefix for Elasticsearch/OpenSearch
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/core/configmap.yaml
  charts/camunda-platform-alpha/templates/optimize/configmap.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: size/xs, component/optimize

#2650 fix: downgrade gomplate over Not Found errors in v4
  .tool-versions
Labels: tool/asdf

#2657 refactor(alpha): update connectors config for 8.7
  charts/camunda-platform-alpha/templates/camunda/_helpers.tpl
  charts/camunda-platform-alpha/templates/connectors/_helpers.tpl
  charts/camunda-platform-alpha/templates/connectors/configmap.yaml
  charts/camunda-platform-alpha/templates/connectors/deployment.yaml
  charts/camunda-platform-alpha/test/unit/connectors/deployment_test.go
  charts/camunda-platform-alpha/test/unit/connectors/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/connectors/goldenfiles_test.go
  charts/camunda-platform-alpha/test/unit/console/golden/configmap.golden.yaml
Labels: component/connectors

#2641 fix(core): Identity authorization request not found
  charts/camunda-platform-alpha/templates/core/configmap.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/golden/configmap.golden.yaml
Labels: version/8.7

#2659 feat(connectors): add connectorsExternalURL and use it in a new Connectors Release Template component
  charts/camunda-platform-alpha/templates/camunda/_helpers.tpl
  charts/camunda-platform-alpha/test/unit/console/golden/configmap.golden.yaml
Labels: size/xs, component/connectors

#2675 ci: release from the release-candidate branch
  .github/workflows/chart-release-candidate.yaml
  .github/workflows/chart-release-pr.yml
Labels: kind/enhancement, area/ci, area/cd, tool/github-actions

#2615 refactor: remove/rename deprecated helm values file keys
  .github/config/external-secret/external-secret-credentials.yaml
  .github/config/external-secret/external-secret-integration-test-credentials.yaml
  charts/camunda-platform-alpha/Chart.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/NOTES.txt
  charts/camunda-platform-alpha/templates/camunda/_helpers.tpl
  charts/camunda-platform-alpha/templates/camunda/constraints.tpl
  charts/camunda-platform-alpha/templates/camunda/secret-camunda.yaml
  charts/camunda-platform-alpha/templates/camunda/secret-connectors.yaml
  charts/camunda-platform-alpha/templates/camunda/secret-console.yaml
  charts/camunda-platform-alpha/templates/camunda/secret-core.yaml
  charts/camunda-platform-alpha/templates/core/statefulset.yaml
  charts/camunda-platform-alpha/templates/identity/constraints.tpl
  charts/camunda-platform-alpha/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-alpha/templates/web-modeler/secret-restapi.yaml
  charts/camunda-platform-alpha/templates/z/1/2/3/4/5/6/7/8/z_compatibility_helpers.tpl
  charts/camunda-platform-alpha/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-alpha/test/integration/scenarios/infra/values-infra-standard.yaml
  charts/camunda-platform-alpha/test/integration/scenarios/pre-install-upgrade/add-psql-key.sh
  charts/camunda-platform-alpha/test/integration/scenarios/pre-upgrade/remove-psql-key.sh
  charts/camunda-platform-alpha/test/integration/testsuites/core/patches/job.yaml
  charts/camunda-platform-alpha/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform-alpha/test/unit/camunda/golden/secret-camunda-license.golden.yaml
  charts/camunda-platform-alpha/test/unit/camunda/golden/secret-camunda.golden.yaml
  charts/camunda-platform-alpha/test/unit/camunda/goldenfiles_test.go
  charts/camunda-platform-alpha/test/unit/camunda/secret_test.go
  charts/camunda-platform-alpha/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/core/configmap_test.go
  charts/camunda-platform-alpha/test/unit/core/golden/statefulset.golden.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-alpha/test/unit/web-modeler/deployment_restapi_test.go
  charts/camunda-platform-alpha/test/unit/web-modeler/goldenfiles_test.go
  charts/camunda-platform-alpha/test/unit/web-modeler/secret_restapi_test.go
  charts/camunda-platform-alpha/values.yaml
  test/integration/scenarios/chart-full-setup/Taskfile.yaml
  test/integration/testsuites/core/patches/job.yaml
Labels: size/m, test-persistent, cycle/alpha3, component/web-modeler, component/identity, component/core

#2571 chore: fix missing newline in NOTES.txt
  charts/camunda-platform-8.2/templates/NOTES.txt
  charts/camunda-platform-8.3/templates/NOTES.txt
  charts/camunda-platform-8.4/templates/NOTES.txt
  charts/camunda-platform-8.5/templates/NOTES.txt
  charts/camunda-platform-8.6/templates/NOTES.txt
  charts/camunda-platform-alpha/templates/NOTES.txt
Labels: size/xs

#2522 fix: tasklist auth config
  charts/camunda-platform-8.5/templates/tasklist/configmap.yaml
  charts/camunda-platform-8.5/test/unit/tasklist/golden/configmap.golden.yaml
  charts/camunda-platform-8.6/templates/tasklist/configmap.yaml
  charts/camunda-platform-8.6/test/unit/tasklist/golden/configmap.golden.yaml
Labels: size/xs, kind/fix, component/tasklist

#2678 fix(zeebe-grpc-ingress): class check for openshift was not checked
  charts/camunda-platform-8.6/templates/camunda/ingress.yaml
  charts/camunda-platform-8.6/templates/connectors/ingress.yaml
  charts/camunda-platform-8.6/templates/console/ingress.yaml
  charts/camunda-platform-8.6/templates/execution-identity/ingress.yaml
  charts/camunda-platform-8.6/templates/identity/ingress.yaml
  charts/camunda-platform-8.6/templates/operate/ingress.yaml
  charts/camunda-platform-8.6/templates/optimize/ingress.yaml
  charts/camunda-platform-8.6/templates/tasklist/ingress.yaml
  charts/camunda-platform-8.6/templates/web-modeler/ingress.yaml
  charts/camunda-platform-8.6/templates/zeebe-gateway/ingress-grpc.yaml
  charts/camunda-platform-8.6/templates/zeebe-gateway/ingress-rest.yaml
  charts/camunda-platform-alpha/templates/camunda/ingress-grpc.yaml
  charts/camunda-platform-alpha/templates/camunda/ingress-http.yaml
Labels: component/zeebe, component/web-modeler, component/identity, component/operate, component/optimize, component/tasklist, component/connectors, component/console

#2693 ci: auto-label per version dir
  .github/config/pr-labeler.yaml
Labels: kind/enhancement, area/ci, size/xs

#2700 fix: envVar-identity-client-secret-not-passed
  charts/camunda-platform-8.6/templates/identity/configmap.yaml
  charts/camunda-platform-8.6/test/unit/identity/golden/configmap.golden.yaml
Labels: version/8.6, component/identity

#2702 refactor(alpha): adjust resources for core sts
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/test/unit/core/golden/statefulset.golden.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: kind/refactor, size/xs, version/alpha

#2708 refactor: remove unused web-modeler config map entries
  charts/camunda-platform-8.5/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-8.5/templates/web-modeler/configmap-webapp.yaml
  charts/camunda-platform-8.6/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-8.6/templates/web-modeler/configmap-webapp.yaml
  charts/camunda-platform-alpha/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-alpha/templates/web-modeler/configmap-webapp.yaml
Labels: version/8.5, version/8.6, component/web-modeler, version/alpha

#2712 fix(alpha): move core sts command to correct location
  charts/camunda-platform-alpha/templates/core/statefulset.yaml
Labels: size/xs, kind/fix, version/alpha, component/core

#2714 fix(alpha): move identity admin client to presets
  charts/camunda-platform-alpha/templates/identity/configmap.yaml
  charts/camunda-platform-alpha/values.schema.json
Labels: size/xs, kind/fix, component/identity, version/alpha

#2726 fix: changing `existingSecret.name` to comply with schema
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/values.schema.json
  charts/camunda-platform-alpha/values.yaml
Labels: kind/issue, kind/medic, version/alpha
