Repository camunda/camunda-platform-helm, pull requests merged in 2025-10, with the labels that each got.

#4342 fix: autogen detection patterns
  charts/camunda-platform-8.8/templates/common/_helpers.tpl
  charts/camunda-platform-8.8/templates/common/secret-camunda.yaml
  charts/camunda-platform-8.8/test/unit/common/helpers_autogenerate_secret_test.go
Labels: version/8.8

#4344 fix: fix configurations of identity migration
  charts/camunda-platform-8.8/templates/orchestration/migration-identity-configmap.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/migration-identity-configmap.golden.yaml
  charts/camunda-platform-8.8/values-digest.yaml
Labels: version/8.8, component/orchestration

#4357 fix: remove importer affinity in 8.8
  charts/camunda-platform-8.8/templates/orchestration/importer-deployment.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/importer-deployment.golden.yaml
Labels: version/8.8, component/orchestration

#4351 fix: add audiences for backward compatibility
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/orchestration/files/_application-unified.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8, component/orchestration

#4367 ci: enable minor upgrade migration from 8.7 to 8.8
  .github/workflows/test-local-template.yaml
  .tool-versions
  charts/camunda-platform-8.7/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-upgrade-migration.yaml
  charts/camunda-platform-8.8/test/ci-test-config.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-upgrade-migration.yaml
  test/integration/scenarios/lib/chart-upgrade-taskfile.yaml
Labels: area/ci, version/8.7, version/8.8, tool/asdf, tool/github-actions

#4366 refactor: add nodeSelector, affinity, and tolerations to orchestration extra resources
  charts/camunda-platform-8.8/templates/orchestration/importer-deployment.yaml
  charts/camunda-platform-8.8/templates/orchestration/migration-data-job.yaml
  charts/camunda-platform-8.8/templates/orchestration/migration-identity-job.yaml
  charts/camunda-platform-8.8/templates/orchestration/statefulset.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/importer-deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/migration-data-job.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/migration-identity-job.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/statefulset.golden.yaml
Labels: kind/refactor, kind/fix, version/8.8, component/orchestration

#4346 fix: couple importer deployment with migration
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/orchestration/importer-configmap-env-vars.yaml
  charts/camunda-platform-8.8/templates/orchestration/importer-deployment.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/goldenfiles_test.go
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8, component/orchestration
