Repository camunda/camunda-platform-helm, pull requests merged in 2025-08, with the labels that each got.

#3885 feat: enable values to be source from this repo rather than push from the QA repo
  .github/actions/workflow-vars/action.yml
  .github/workflows/test-integration-runner.yaml
  .github/workflows/test-integration-template.yaml
  charts/camunda-platform-8.4/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch-mt.yaml
  charts/camunda-platform-8.4/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch-rba.yaml
  charts/camunda-platform-8.4/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch.yaml
  charts/camunda-platform-8.5/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch-mt.yaml
  charts/camunda-platform-8.5/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch-rba.yaml
  charts/camunda-platform-8.5/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch-mt.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch-rba.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-opensearch.yaml
  charts/camunda-platform-8.7/test/e2e/package-lock.json
  charts/camunda-platform-8.7/test/e2e/package.json
  charts/camunda-platform-8.7/test/e2e/playwright.config.ts
  charts/camunda-platform-8.7/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch-mt.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch-rba.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-opensearch.yaml
  charts/camunda-platform-8.7/test/integration/testsuites/package-lock.json
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch-mt.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch-rba.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-opensearch.yaml
  scripts/base_playwright_script.sh
  scripts/run-e2e-tests.sh
  scripts/run-integration-tests.sh
  test/integration/scenarios/chart-full-setup/Taskfile.yaml
  test/integration/scenarios/lib/chart-upgrade-taskfile.yaml
Labels: area/ci, version/8.4, version/8.5, version/8.6, version/8.7, version/8.8, tool/github-actions, tool/script

#3753 feat: es/os exporters only enabled if optimize is enabled or explicit override
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/core/configmap.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: test-persistent, version/8.8, component/core

#3906 feat: set authorizations.enabled flag in Web Modeler cluster configuration
  charts/camunda-platform-8.8/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/types.go
Labels: version/8.8, component/web-modeler

#3792 feat: make it possible to order an specific installation from the hel…
  .github/workflows/test-integration-runner.yaml
  .github/workflows/test-integration-template.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch-mt.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch-rba.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-opensearch.yaml
  charts/camunda-platform-8.8/values.schema.json
Labels: area/ci, version/8.7, version/8.8, tool/github-actions

#3913 fix: importer should only be enabled for process migration, not identity migration
  charts/camunda-platform-8.8/templates/core/configmap.yaml
Labels: area/ci, version/8.8, tool/github-actions, component/core

#3928 feat: adding extra configuration options to the process migration
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/core/process-migration-configmap.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8, component/core

#3922 fix: align ports and minor localhost-port-forward fixes
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/NOTES.txt
  charts/camunda-platform-8.8/templates/identity/_helpers.tpl
  charts/camunda-platform-8.8/templates/identity/configmap.yaml
  charts/camunda-platform-8.8/templates/identity/deployment.yaml
  charts/camunda-platform-8.8/templates/identity/service.yaml
  charts/camunda-platform-8.8/templates/orchestration/configmap.yaml
  charts/camunda-platform-8.8/templates/service-monitor/orchestration-service-monitor.yaml
  charts/camunda-platform-8.8/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-8.8/templates/web-modeler/configmap-webapp.yaml
  charts/camunda-platform-8.8/test/unit/camunda/golden/orchestration-service-monitor.golden.yaml
  charts/camunda-platform-8.8/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-unified.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/gateway-service.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/service.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/statefulset.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/service.golden.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8, component/web-modeler, component/identity, component/core

#3965 fix: missing else in identity multitenancy configuration
  charts/camunda-platform-8.8/templates/identity/_helpers.tpl
Labels: version/8.8, component/identity

#3959 ci: re-add failed pods info task
  .github/workflows/test-integration-runner.yaml
Labels: area/ci, tool/github-actions

#3930 fix: add checksum annotations to migration pods
  charts/camunda-platform-8.8/templates/orchestration/identity-migration-job.yaml
  charts/camunda-platform-8.8/templates/orchestration/process-migration-job.yaml
Labels: version/8.8, component/core, component/orchestration

#3623 fix: the region is mapped to the document store env
  charts/camunda-platform-8.7/templates/camunda/configmap-documentstore.yaml
  charts/camunda-platform-8.8/templates/common/configmap-documentstore.yaml
Labels: version/8.7, version/8.8

#3855 ci: rename prefix-certs namespace to prefix
  .github/workflows/test-integration-runner.yaml
  charts/camunda-platform-8.2/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.3/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.4/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.5/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
Labels: area/ci, version/8.2, version/8.3, version/8.4, version/8.5, version/8.6, version/8.7, version/8.8, tool/github-actions

#3970 refactor: set orchestration retention and history retention
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/orchestration/configmap.yaml
  charts/camunda-platform-8.8/templates/z/1/2/3/4/5/6/7/8/z_compatibility_helpers.tpl
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-unified.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: size/s, kind/refactor, version/8.8, component/orchestration

#3972 ci: delete camunda sts before the upgrade
  charts/camunda-platform-8.8/test/integration/scenarios/pre-upgrade/delete-camunda-sts.sh
Labels: version/8.8

#3951 fix: disable persistent sessions in noSecondaryStorage mode
  charts/camunda-platform-8.8/templates/orchestration/_helpers.tpl
  charts/camunda-platform-8.8/templates/orchestration/configmap.yaml
  charts/camunda-platform-8.8/test/unit/common/no_secondary_storage_test.go
Labels: version/8.8, component/orchestration

#3974 fix: the IT scripts are detecting the cluster as our naming on secre…
  .github/workflows/test-integration-runner.yaml
  scripts/run-integration-tests.sh
Labels: area/ci, tool/github-actions, tool/script

#3967 refactor: use one helm install or helm upgrade instead of 3
  test/integration/scenarios/chart-full-setup/Taskfile.yaml
  test/integration/scenarios/lib/chart-upgrade-taskfile.yaml
Labels: version/8.8

#3966 ci: add documentstore scenario for QA
  charts/camunda-platform-8.7/test/ci-test-config.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-documentstore.yaml
  charts/camunda-platform-8.8/test/ci-test-config.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-documentstore.yaml
Labels: area/ci, version/8.7, version/8.8, tool/github-actions

#3996 feat: create extra values file for legacy bitnami repo name
  .github/workflows/chart-public-files.yaml
  charts/camunda-platform-8.2/values-bitnami-legacy.yaml
  charts/camunda-platform-8.3/values-bitnami-legacy.yaml
  charts/camunda-platform-8.4/values-bitnami-legacy.yaml
  charts/camunda-platform-8.5/values-bitnami-legacy.yaml
  charts/camunda-platform-8.6/values-bitnami-legacy.yaml
  charts/camunda-platform-8.7/values-bitnami-legacy.yaml
  charts/camunda-platform-8.8/values-bitnami-legacy.yaml
Labels: area/ci, version/8.2, size/xs, version/8.3, version/8.4, area/ux, version/8.5, version/8.6, version/8.7, version/8.8, tool/github-actions

#3982 test: fixes for unit tests in 8.8 and turn on unit tests in ci
  charts/camunda-platform-8.8/test/ci-test-config.yaml
  charts/camunda-platform-8.8/test/unit/common/configmap_test.go
  charts/camunda-platform-8.8/test/unit/common/constraints_test.go
  charts/camunda-platform-8.8/test/unit/common/global_deployment_test.go
  charts/camunda-platform-8.8/test/unit/common/goldenfiles_test.go
  charts/camunda-platform-8.8/test/unit/common/identitykeycloak_constraints_test.go
  charts/camunda-platform-8.8/test/unit/common/ingress_test.go
  charts/camunda-platform-8.8/test/unit/common/types.go
  charts/camunda-platform-8.8/test/unit/connectors/deployment_test.go
  charts/camunda-platform-8.8/test/unit/connectors/golden/inbound-secret.golden.yaml
  charts/camunda-platform-8.8/test/unit/connectors/inbound-secret_test.go
  charts/camunda-platform-8.8/test/unit/console/configmap_test.go
  charts/camunda-platform-8.8/test/unit/console/deployment_test.go
  charts/camunda-platform-8.8/test/unit/console/goldenfiles_test.go
  charts/camunda-platform-8.8/test/unit/console/service_test.go
  charts/camunda-platform-8.8/test/unit/identity/configmap_test.go
  charts/camunda-platform-8.8/test/unit/identity/deployment_test.go
  charts/camunda-platform-8.8/test/unit/identity/secret_test.go
  charts/camunda-platform-8.8/test/unit/identity/service_test.go
  charts/camunda-platform-8.8/test/unit/optimize/configmap_test.go
  charts/camunda-platform-8.8/test/unit/optimize/deployment_test.go
  charts/camunda-platform-8.8/test/unit/optimize/persistence_test.go
  charts/camunda-platform-8.8/test/unit/optimize/service_test.go
  charts/camunda-platform-8.8/test/unit/orchestration/configmap_test.go
  charts/camunda-platform-8.8/test/unit/orchestration/configmap_unified_test.go
  charts/camunda-platform-8.8/test/unit/orchestration/service_test.go
  charts/camunda-platform-8.8/test/unit/utils/goldenfiles.go
  charts/camunda-platform-8.8/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/configmap_shared_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/configmap_webapp_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/deployment_restapi_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/deployment_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/deployment_webapp_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/deployment_websockets_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/persistence_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/secret_restapi_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/secret_shared_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/service_test.go
Labels: version/8.8

#3978 ci: add license values to use helm repo
  .github/workflows/cleanup-namespace.yaml
  .github/workflows/test-integration-runner.yaml
  .github/workflows/test-integration-template.yaml
  charts/camunda-platform-8.5/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-license.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-license.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-license.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/infra/values-infra-standard.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-license.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/infra/values-infra-standard.yaml
Labels: area/ci, version/8.5, version/8.6, version/8.7, version/8.8, tool/github-actions

#4020 fix: add key to passwords secret
  .github/config/external-secret/external-secret-8.5-integration-test-credentials.yaml
Labels: area/ci, tool/github-actions

#4036 chore: update version matrix for 12.5.0 release
  charts/camunda-platform-8.7/RELEASE-NOTES.md
  version-matrix/camunda-8.7/README.md
  version-matrix/camunda-8.7/version-matrix.json
Labels: version/8.7
