Repository camunda/camunda-platform-helm, pull requests merged in 2025-09, with the labels that each got.

#4040 ci: fix action to update closedAt field
  .github/workflows/closed-issue.yml
  .github/workflows/generate-github-app-token.yaml
Labels: area/ci, tool/github-actions

#4042 fix: define one security section in orchestration configmap
  charts/camunda-platform-8.8/templates/orchestration/configmap.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap.golden.yaml
Labels: version/8.8, target:8.8-alpha7, component/orchestration

#4033 fix: set orchestration cluster matchLabels to zeebe-broker
  charts/camunda-platform-8.8/templates/orchestration/_helpers.tpl
  charts/camunda-platform-8.8/test/integration/scenarios/pre-run-scripts/pre-upgrade.sh
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-unified.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/gateway-service.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/service.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/statefulset.golden.yaml
  charts/camunda-platform-8.8/values.yaml
Labels: issue/compatibility, size/xs, kind/fix, version/8.8, component/orchestration

#4054 chore: fixe closed at gha
  .github/workflows/closed-issue.yml
Labels: area/ci, tool/github-actions

#4052 ci: validate Helm charts integrity nightly
  .github/workflows/chart-release-artifact-verify.yaml
  .github/workflows/chart-release.yaml
  scripts/generate-release-notes.sh
  scripts/templates/release-notes/RELEASE-NOTES-FOOTER.md.tpl
Labels: area/ci, size/s, area/security, tool/github-actions, tool/script

#4057 chore: unify yaml file naming
  .github/actions/failed-pods-info/action.yaml
  .github/actions/generate-chart-matrix-nightly/action.yaml
  .github/actions/generate-chart-matrix/action.yaml
  .github/actions/get-chart-versions/action.yaml
  .github/actions/gke-login/action.yaml
  .github/actions/install-tool-versions/action.yaml
  .github/actions/test-type-vars/action.yaml
  .github/actions/workflow-vars/action.yaml
  .github/workflows/add-new-issue.yaml
  .github/workflows/chart-release-chores.yaml
  .github/workflows/chart-release-pr.yaml
  .github/workflows/closed-issue.yaml
  .github/workflows/sec-codeql.yaml
  .github/workflows/sec-scorecard.yaml
  .github/workflows/test-chart-version.yaml
  .github/workflows/test-local-template.yaml
  .github/workflows/test-unit-template.yaml
  charts/camunda-platform-8.2/README.md
  docs/gha-workflows.md
Labels: kind/chore, area/ci, version/8.2, size/xs, tool/github-actions

#4067 deps: update camunda/keycloak docker tag to v26.3.1
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/test/unit/common/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8

#4075 fix: set the groups claim empty so groups can be tested on the orchId…
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-elasticsearch.yaml
Labels: version/8.8

#3942 fix: upgrade keycloak version for 8.7
  charts/camunda-platform-8.7/README.md
  charts/camunda-platform-8.7/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform-8.7/values.yaml
Labels: version/8.7, version/8.8

#4080 fix: added missing config to orchestration cluster
  charts/camunda-platform-8.8/templates/orchestration/configmap.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/values-digest.yaml
Labels: version/8.8, component/orchestration

#4079 fix: downgrade nonexistant keycloak 26.3.2 to 26.3.1
  charts/camunda-platform-8.7/README.md
  charts/camunda-platform-8.7/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform-8.7/values.yaml
Labels: version/8.7

#4077 refactor: revert to zeebe as name for orchestration cluster
  charts/camunda-platform-8.8/templates/orchestration/_helpers.tpl
  charts/camunda-platform-8.8/templates/orchestration/configmap.yaml
  charts/camunda-platform-8.8/templates/orchestration/files/_application-unified.yaml
  charts/camunda-platform-8.8/templates/orchestration/identity-migration-configmap.yaml
  charts/camunda-platform-8.8/templates/orchestration/statefulset.yaml
  charts/camunda-platform-8.8/test/unit/common/golden/core-service-monitor.golden.yaml
  charts/camunda-platform-8.8/test/unit/common/golden/secret-core.golden.yaml
  charts/camunda-platform-8.8/test/unit/common/ingress_test.go
  charts/camunda-platform-8.8/test/unit/connectors/configmap_test.go
  charts/camunda-platform-8.8/test/unit/connectors/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-unified.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/gateway-service.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/service.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/statefulset.golden.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
Labels: kind/refactor, size/xs, version/8.8, component/orchestration

#4039 ci: add action to add issues to quality board
  .github/workflows/add-new-issue.yaml
Labels: area/ci, tool/github-actions

#4084 feat: add schema validation for env keys
  Makefile
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/values.schema.extra.json
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: kind/enhancement, size/s, version/8.8, tool/script

#4098 fix: helper function function and checksum correction in migraiton
  charts/camunda-platform-8.8/templates/orchestration/importer-configmap.yaml
  charts/camunda-platform-8.8/templates/orchestration/migration-identity-job.yaml
Labels: version/8.8, component/orchestration

#4063 feat: add custom ingress label values
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/common/ingress-grpc.yaml
  charts/camunda-platform-8.8/templates/common/ingress-http.yaml
  charts/camunda-platform-8.8/test/unit/common/ingress_test.go
  charts/camunda-platform-8.8/values.yaml
Labels: kind/enhancement, version/8.8

#4110 fix: data migration configmap fix importer-finished-timeout
  charts/camunda-platform-8.8/templates/orchestration/migration-data-configmap.yaml
Labels: version/8.8, component/orchestration

#4130 fix: opensearchURL for secondary storage
  charts/camunda-platform-8.8/templates/orchestration/migration-data-configmap.yaml
Labels: version/8.8, component/orchestration

#4131 ci: fix missing digest values file when doesn't exist
  test/integration/scenarios/chart-full-setup/Taskfile.yaml
  test/integration/scenarios/lib/chart-upgrade-taskfile.yaml
Labels: area/ci, size/xs, tool/github-actions

#4132 deps: update console to 8.8.0-alpha8.1
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/console/golden/service.golden.yaml
  charts/camunda-platform-8.8/test/unit/console/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8

#4133 fix: console digest now points to 8.8.0-alpha8.1
  charts/camunda-platform-8.8/values-digest.yaml
Labels: version/8.8

#4137 chore: update naming conventions for identity in values.yaml
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8

#4163 feat: opensearch aws enabled config now affects usage of AWS credentials
  charts/camunda-platform-8.8/templates/orchestration/configmap.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap.golden.yaml
Labels: version/8.8, component/orchestration

#4150 refactor: set default replicas to 1 for secondary storage
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/orchestration/configmap.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: kind/refactor, kind/breaking-change, version/8.8, component/orchestration

#4170 fix: add constraints for ES and Basic auth in noSecondaryStorage mode
  charts/camunda-platform-8.8/templates/common/constraints.tpl
Labels: size/xs, version/8.8

#4222 fix: add global.identity.auth.identity.secret configuration
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/common/constraints.tpl
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8

#4180 fix: wrong openshift compatibilty helper elasticsearch commonLabels usage
  charts/camunda-platform-8.8/templates/z/1/2/3/4/5/6/7/8/z_compatibility_helpers.tpl
Labels: version/8.8

#4221 revert: "refactor: set default value for contextPath in all component…
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-basic.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-keycloak.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-oidc.yaml
  charts/camunda-platform-8.8/test/unit/common/golden/connectors-service-monitor.golden.yaml
  charts/camunda-platform-8.8/test/unit/common/golden/orchestration-service-monitor.golden.yaml
  charts/camunda-platform-8.8/test/unit/connectors/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-unified.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/statefulset.golden.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8

#4233 refactor: move orchestration oidc from global to component
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/common/constraints.tpl
  charts/camunda-platform-8.8/templates/common/secret-camunda.yaml
  charts/camunda-platform-8.8/templates/common/secret-core.yaml
  charts/camunda-platform-8.8/templates/common/secret-orchestration.yaml
  charts/camunda-platform-8.8/templates/identity/configmap.yaml
  charts/camunda-platform-8.8/templates/identity/deployment.yaml
  charts/camunda-platform-8.8/templates/orchestration/_helpers.tpl
  charts/camunda-platform-8.8/templates/orchestration/files/_application-unified.yaml
  charts/camunda-platform-8.8/templates/orchestration/importer-deployment.yaml
  charts/camunda-platform-8.8/templates/orchestration/migration-identity-configmap.yaml
  charts/camunda-platform-8.8/templates/orchestration/migration-identity-job.yaml
  charts/camunda-platform-8.8/templates/orchestration/statefulset.yaml
  charts/camunda-platform-8.8/templates/z/1/2/3/4/5/6/7/8/z_compatibility_helpers.tpl
  charts/camunda-platform-8.8/test/unit/common/configmap_test.go
  charts/camunda-platform-8.8/test/unit/common/constraints_test.go
  charts/camunda-platform-8.8/test/unit/common/documentstore_configmap_test.go
  charts/camunda-platform-8.8/test/unit/common/global_deployment_test.go
  charts/camunda-platform-8.8/test/unit/common/ingress_test.go
  charts/camunda-platform-8.8/test/unit/utils/goldenfiles.go
  charts/camunda-platform-8.8/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/goldenfiles_test.go
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: kind/refactor, version/8.8, component/identity, component/orchestration, kind/breaking-change-alpha

#3725 feat: add nightly integration scenario for Opensearch with basic auth
  .github/workflows/test-integration-runner.yaml
  charts/camunda-platform-8.8/templates/common/constraints.tpl
  charts/camunda-platform-8.8/test/ci-test-config.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-basic.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-opensearch.yaml
  charts/camunda-platform-8.8/test/integration/testsuites/tests/connectors.spec.ts
  charts/camunda-platform-8.8/test/integration/testsuites/tests/core-rest.spec.ts
  charts/camunda-platform-8.8/test/integration/testsuites/tests/helper.ts
  scripts/run-integration-tests.sh
  test/integration/scenarios/chart-full-setup/Taskfile.yaml
Labels: area/ci, version/8.8, tool/github-actions, tool/script, component/orchestration

#4244 fix: add the oidc group claim to opensearch
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-qa-opensearch.yaml
Labels: version/8.8

#4227 fix: firstuser defaults should not fire constraint
  charts/camunda-platform-8.8/templates/common/constraints.tpl
Labels: version/8.8

#4280 fix: add missing opensearch fields in templates
  charts/camunda-platform-8.8/templates/optimize/configmap.yaml
  charts/camunda-platform-8.8/templates/orchestration/files/_application-unified.yaml
Labels: version/8.8, component/optimize, component/orchestration

#4297 fix: opensearch config and index replica placement
  charts/camunda-platform-8.8/templates/orchestration/files/_application-unified.yaml
  charts/camunda-platform-8.8/templates/orchestration/importer-configmap-env-vars.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/configmap-unified.golden.yaml
Labels: size/xs, kind/fix, version/8.8, component/orchestration

#4310 fix: use correct upgrade strategy for importer deployment
  charts/camunda-platform-8.8/templates/orchestration/importer-deployment.yaml
  charts/camunda-platform-8.8/test/unit/orchestration/golden/importer-deployment.golden.yaml
Labels: fix, size/xs, kind/fix, version/8.8, component/orchestration

#4291 fix: data and identity migraiton accept orchestration env
  charts/camunda-platform-8.8/templates/orchestration/migration-data-job.yaml
  charts/camunda-platform-8.8/templates/orchestration/migration-identity-job.yaml
Labels: size/xs, kind/fix, version/8.8, component/orchestration
