Repository camunda/camunda-platform-helm, pull requests merged in 2025-07, with the labels that each got.

#3734 fix: replaced old property with new one
  charts/camunda-platform-8.7/templates/connectors/deployment.yaml
  charts/camunda-platform-8.7/test/unit/connectors/deployment_test.go
  charts/camunda-platform-8.7/test/unit/connectors/golden/deployment.golden.yaml
Labels: version/8.7, component/connectors

#3679 refactor: add local values file per chart version
  .github/workflows/chart-public-files.yaml
  .github/workflows/test-chart-version-template.yaml
  .github/workflows/test-local-template.yml
  .tool-versions
  charts/camunda-platform-8.4/values-local.yaml
  charts/camunda-platform-8.5/values-local.yaml
  charts/camunda-platform-8.6/values-local.yaml
  charts/camunda-platform-8.7/values-local.yaml
  charts/camunda-platform-8.8/values-local.yaml
Labels: area/ci, version/8.4, version/8.5, version/8.6, version/8.7, version/8.8, tool/asdf, tool/github-actions

#3745 fix: change concurrency.group to prevent interrupts due to a workflow run failing
  .github/workflows/test-integration-template.yaml
Labels: area/ci, version/8.7, version/8.8, tool/github-actions

#3756 fix: deduplicate scenario-independent jobs
  .github/workflows/test-chart-version-template.yaml
  .github/workflows/test-chart-version.yaml
Labels: area/ci, version/8.7, tool/github-actions

#3692 feat: add alternative emptyDir PVC support for components
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/camunda/_helpers.tpl
  charts/camunda-platform-8.8/templates/connectors/deployment.yaml
  charts/camunda-platform-8.8/templates/connectors/persistentvolumeclaim.yaml
  charts/camunda-platform-8.8/templates/identity/deployment.yaml
  charts/camunda-platform-8.8/templates/identity/persistentvolumeclaim.yaml
  charts/camunda-platform-8.8/templates/optimize/deployment.yaml
  charts/camunda-platform-8.8/templates/optimize/persistentvolumeclaim.yaml
  charts/camunda-platform-8.8/templates/web-modeler/deployment-restapi.yaml
  charts/camunda-platform-8.8/templates/web-modeler/persistentvolumeclaim-restapi.yaml
  charts/camunda-platform-8.8/test/unit/connectors/persistence_test.go
  charts/camunda-platform-8.8/test/unit/identity/persistence_test.go
  charts/camunda-platform-8.8/test/unit/optimize/persistence_test.go
  charts/camunda-platform-8.8/test/unit/web-modeler/persistence_test.go
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: kind/enhancement, feature, version/8.8, component/web-modeler, component/identity, component/optimize, component/connectors, component/core

#3769 ci: use values-integration-test-pull-secrets.yaml for ci and local setup
  .github/workflows/test-local-template.yml
  charts/camunda-platform-8.2/test/integration/scenarios/common/values-integration-test-pull-secrets.yaml
  charts/camunda-platform-8.2/test/integration/scenarios/common/values-integration-test.yaml
  charts/camunda-platform-8.3/test/integration/scenarios/common/values-integration-test-pull-secrets.yaml
  charts/camunda-platform-8.3/test/integration/scenarios/common/values-integration-test.yaml
  charts/camunda-platform-8.4/test/integration/scenarios/common/values-integration-test-pull-secrets.yaml
  charts/camunda-platform-8.4/test/integration/scenarios/common/values-integration-test.yaml
  charts/camunda-platform-8.5/test/integration/scenarios/common/values-integration-test-pull-secrets.yaml
  charts/camunda-platform-8.5/test/integration/scenarios/common/values-integration-test.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/common/values-integration-test-pull-secrets.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/common/values-integration-test.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/common/values-integration-test-pull-secrets.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/common/values-integration-test.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/common/values-integration-test-pull-secrets.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/common/values-integration-test.yaml
  charts/camunda-platform-8.8/values.schema.json
  test/integration/scenarios/chart-full-setup/Taskfile.yaml
  test/integration/scenarios/lib/chart-upgrade-taskfile.yaml
Labels: area/ci, version/8.2, size/xs, version/8.3, version/8.4, version/8.5, version/8.6, version/8.7, version/8.8, tool/github-actions

#3793 fix: use gateway service in ingress's
  charts/camunda-platform-8.8/templates/NOTES.txt
  charts/camunda-platform-8.8/templates/camunda/ingress-grpc.yaml
  charts/camunda-platform-8.8/templates/camunda/ingress-http.yaml
Labels: version/8.8

#3798 fix: pass through options that were forgotten
  .github/workflows/test-integration-runner.yaml
  .github/workflows/test-integration-template.yaml
Labels: area/ci, tool/github-actions

#3817 feat: handle group claims
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/core/configmap.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8, component/core

#3822 ci: add multitenancy test scenario to 8.8
  .github/config/external-secret/external-secret-integration-test-credentials.yaml
  charts/camunda-platform-8.8/test/ci-test-config.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-multitenancy.yaml
Labels: area/ci, version/8.8, tool/github-actions, component/core

#3830 feat: identity migration app Phase 2
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/core/identity-migration-configmap.yaml
  charts/camunda-platform-8.8/templates/core/identity-migration-job.yaml
  charts/camunda-platform-8.8/templates/identity-migration/_helpers.tpl
  charts/camunda-platform-8.8/templates/identity/deployment.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8, component/identity, component/core

#3843 fix: set zeebe freespace config to application defaults
  charts/camunda-platform-8.7/README.md
  charts/camunda-platform-8.7/test/unit/zeebe/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.7/test/unit/zeebe/golden/configmap.golden.yaml
  charts/camunda-platform-8.7/values.yaml
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.7, version/8.8

#3851 ci: e2e workflow call bugfixes
  .github/actions/workflow-vars/action.yml
  .github/workflows/test-integration-runner.yaml
  test/integration/scenarios/chart-full-setup/Taskfile.yaml
Labels: area/ci, tool/github-actions

#3852 ci: disable merge report
  .github/workflows/test-integration-runner.yaml
Labels: area/ci, tool/github-actions

#3861 chore: update e2e-test-suite-package
  charts/camunda-platform-8.7/test/integration/testsuites/package.json
Labels: version/8.7

#3835 ci: identity migration integration testing scenario Phase 2
  charts/camunda-platform-8.8/test/ci-test-config.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-identity-migration.yaml
Labels: version/8.8

#3870 fix: remove random suffix generation from workflow vars action
  .github/actions/workflow-vars/action.yml
Labels: area/ci, tool/github-actions

#3853 refactor: initial version of unified config
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/camunda/_helpers.tpl
  charts/camunda-platform-8.8/templates/core/_helpers.tpl
  charts/camunda-platform-8.8/templates/core/configmap-unified.yaml
  charts/camunda-platform-8.8/templates/core/files/_application-unified.yaml
  charts/camunda-platform-8.8/templates/core/statefulset.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/statefulset.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: kind/refactor, version/8.8, component/core

#3871 feat: process migration Phase 1
  charts/camunda-platform-8.8/templates/core/configmap.yaml
  charts/camunda-platform-8.8/templates/core/process-migration-configmap.yaml
  charts/camunda-platform-8.8/templates/core/process-migration-job.yaml
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8, component/core

#3867 feat: Identity OIDC migration phase3
  charts/camunda-platform-8.8/templates/core/identity-migration-configmap.yaml
Labels: version/8.8, component/core
