Repository camunda/camunda-platform-helm, pull requests merged in 2025-05, with the labels that each got.

#3394 docs: added release cycle info
  README.md
  charts/README.md
Labels: size/xs, kind/medic

#3379 feat: dedicated opensearch.prefix support
  charts/camunda-platform-8.5/README.md
  charts/camunda-platform-8.5/templates/camunda/constraints.tpl
  charts/camunda-platform-8.5/templates/operate/configmap.yaml
  charts/camunda-platform-8.5/templates/optimize/configmap.yaml
  charts/camunda-platform-8.5/templates/tasklist/configmap.yaml
  charts/camunda-platform-8.5/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.5/test/unit/operate/configmap_test.go
  charts/camunda-platform-8.5/test/unit/operate/types.go
  charts/camunda-platform-8.5/test/unit/tasklist/configmap_test.go
  charts/camunda-platform-8.5/test/unit/tasklist/types.go
  charts/camunda-platform-8.5/values.yaml
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/templates/camunda/constraints.tpl
  charts/camunda-platform-8.6/templates/operate/configmap.yaml
  charts/camunda-platform-8.6/templates/optimize/configmap.yaml
  charts/camunda-platform-8.6/templates/tasklist/configmap.yaml
  charts/camunda-platform-8.6/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.6/test/unit/operate/configmap_test.go
  charts/camunda-platform-8.6/test/unit/operate/types.go
  charts/camunda-platform-8.6/test/unit/optimize/configmap_test.go
  charts/camunda-platform-8.6/test/unit/tasklist/configmap_test.go
  charts/camunda-platform-8.6/test/unit/tasklist/types.go
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-8.7/README.md
  charts/camunda-platform-8.7/templates/camunda/constraints.tpl
  charts/camunda-platform-8.7/templates/operate/configmap.yaml
  charts/camunda-platform-8.7/templates/optimize/configmap.yaml
  charts/camunda-platform-8.7/templates/tasklist/configmap.yaml
  charts/camunda-platform-8.7/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.7/templates/zeebe/statefulset.yaml
  charts/camunda-platform-8.7/test/unit/operate/configmap_test.go
  charts/camunda-platform-8.7/test/unit/operate/types.go
  charts/camunda-platform-8.7/test/unit/optimize/configmap_test.go
  charts/camunda-platform-8.7/test/unit/tasklist/configmap_test.go
  charts/camunda-platform-8.7/test/unit/tasklist/types.go
  charts/camunda-platform-8.7/values.yaml
Labels: kind/enhancement, component/zeebe, version/8.5, version/8.6, version/8.7, component/operate, component/optimize, component/tasklist

#3468 fix: adjust scripts with change from name ingress to ingress-base
  scripts/generate-version-matrix.sh
  scripts/list-chart-images.sh
Labels: tool/script

#3469 fix: adjust chart-release to reflect that matrix is no longer just a list of versions
  .github/workflows/chart-release.yaml
Labels: area/ci, tool/github-actions

#3472 fix: openshift elasticsearch disabled error
  charts/camunda-platform-8.6/templates/zeebe/1/2/3/4/5/6/7/8/z_compatibility_helpers.tpl
  charts/camunda-platform-8.7/templates/zeebe/1/2/3/4/5/6/7/8/z_compatibility_helpers.tpl
Labels: component/zeebe, version/8.6, version/8.7

#3473 fix: corrected a misplaced end key
  charts/camunda-platform-8.7/templates/connectors/configmap.yaml
  charts/camunda-platform-8.7/templates/connectors/deployment.yaml
Labels: version/8.7, component/connectors

#3391 fix: 3322 adding script to detect unused values in templates
  scripts/helm_unused_values/.gitignore
  scripts/helm_unused_values/README.md
  scripts/helm_unused_values/go.mod
  scripts/helm_unused_values/go.sum
  scripts/helm_unused_values/main.go
  scripts/helm_unused_values/pkg/config/config.go
  scripts/helm_unused_values/pkg/keys/keys.go
  scripts/helm_unused_values/pkg/output/display.go
  scripts/helm_unused_values/pkg/output/results.go
  scripts/helm_unused_values/pkg/patterns/registry.go
  scripts/helm_unused_values/pkg/search/README.md
  scripts/helm_unused_values/pkg/search/analyzer.go
  scripts/helm_unused_values/pkg/search/finder.go
  scripts/helm_unused_values/pkg/search/pattern_checker.go
  scripts/helm_unused_values/pkg/search/pattern_checker_test.go
  scripts/helm_unused_values/pkg/search/searcher.go
  scripts/helm_unused_values/pkg/search/testdata/direct_usage.yaml
  scripts/helm_unused_values/pkg/search/testdata/imageByParams.yaml
  scripts/helm_unused_values/pkg/search/testdata/security_context_usage.yaml
  scripts/helm_unused_values/pkg/search/testdata/subChartImages_usage.yaml
  scripts/helm_unused_values/pkg/search/testdata/toyaml_usage.yaml
  scripts/helm_unused_values/pkg/search/testdata/with_usage.yaml
  scripts/helm_unused_values/pkg/utils/utils.go
  scripts/helm_unused_values/pkg/values/keys.go
Labels: tool/script

#3482 fix: revert "feat: dedicated opensearch.prefix support"
  charts/camunda-platform-8.5/README.md
  charts/camunda-platform-8.5/templates/camunda/constraints.tpl
  charts/camunda-platform-8.5/templates/operate/configmap.yaml
  charts/camunda-platform-8.5/templates/optimize/configmap.yaml
  charts/camunda-platform-8.5/templates/tasklist/configmap.yaml
  charts/camunda-platform-8.5/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.5/test/unit/operate/configmap_test.go
  charts/camunda-platform-8.5/test/unit/operate/types.go
  charts/camunda-platform-8.5/test/unit/tasklist/configmap_test.go
  charts/camunda-platform-8.5/test/unit/tasklist/types.go
  charts/camunda-platform-8.5/values.yaml
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/templates/camunda/constraints.tpl
  charts/camunda-platform-8.6/templates/operate/configmap.yaml
  charts/camunda-platform-8.6/templates/optimize/configmap.yaml
  charts/camunda-platform-8.6/templates/tasklist/configmap.yaml
  charts/camunda-platform-8.6/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.6/test/unit/operate/configmap_test.go
  charts/camunda-platform-8.6/test/unit/operate/types.go
  charts/camunda-platform-8.6/test/unit/optimize/configmap_test.go
  charts/camunda-platform-8.6/test/unit/tasklist/configmap_test.go
  charts/camunda-platform-8.6/test/unit/tasklist/types.go
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-8.7/README.md
  charts/camunda-platform-8.7/templates/camunda/constraints.tpl
  charts/camunda-platform-8.7/templates/operate/configmap.yaml
  charts/camunda-platform-8.7/templates/optimize/configmap.yaml
  charts/camunda-platform-8.7/templates/tasklist/configmap.yaml
  charts/camunda-platform-8.7/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.7/templates/zeebe/statefulset.yaml
  charts/camunda-platform-8.7/test/unit/operate/configmap_test.go
  charts/camunda-platform-8.7/test/unit/operate/types.go
  charts/camunda-platform-8.7/test/unit/optimize/configmap_test.go
  charts/camunda-platform-8.7/test/unit/tasklist/configmap_test.go
  charts/camunda-platform-8.7/test/unit/tasklist/types.go
  charts/camunda-platform-8.7/values.yaml
Labels: component/zeebe, version/8.5, version/8.6, version/8.7, component/operate, component/optimize, component/tasklist

#3488 fix: modified comment for identity component in 8.8
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/test/unit/camunda/golden/elasticsearch-statefulset.golden.yaml
  charts/camunda-platform-8.8/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8

#3434 ci: remove camunda-platform-alpha reference
  .github/actions/workflow-vars/action.yml
  .github/config/pr-labeler.yaml
  .github/workflows/chart-validate-template.yaml
  .github/workflows/examples/test-helm-chart.yaml
  .github/workflows/test-integration-template.yaml
  .github/workflows/test-unit-template.yml
  charts/camunda-platform-alpha
  docs/contributing.md
  docs/gha-workflows.md
  docs/tests.md
  scripts/bump-chart-version.sh
  scripts/generate-version-matrix.sh
  test/integration/scenarios/lib/testsuite-deploy-taskfile.yaml
Labels: area/ci, tool/github-actions, tool/script

#3499 fix:add missing env vars for opensearch password
  charts/camunda-platform-8.8/templates/core/statefulset.yaml
Labels: version/8.8, component/core

#3505 fix: add missing extra mainfest configuration in 8.8
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/camunda/extra-manifest.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: kind/fix, version/8.8

#3509 chore: enhance release metadata
  README.md
  charts/camunda-platform-8.5/values-latest.yaml
  charts/camunda-platform-8.6/values-latest.yaml
  charts/camunda-platform-8.7/values-latest.yaml
  charts/camunda-platform-8.8/values-latest.yaml
  scripts/generate-version-matrix.sh
  scripts/templates/version-matrix/VERSION-MATRIX-RELEASE.md.tpl
  version-matrix/camunda-8.4/README.md
  version-matrix/camunda-8.5/README.md
  version-matrix/camunda-8.6/README.md
  version-matrix/camunda-8.7/README.md
  version-matrix/camunda-8.8/README.md
Labels: size/xs, version/8.5, version/8.6, version/8.7, version/8.8, tool/script

#3517 fix: set context path only if optimize is enabled
  charts/camunda-platform-8.8/templates/camunda/ingress-http.yaml
Labels: size/xs, kind/fix, version/8.8

#3518 fix: use correct core URL
  charts/camunda-platform-8.8/templates/camunda/_helpers.tpl
  charts/camunda-platform-8.8/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
Labels: size/xs, version/8.8, component/web-modeler

#3522 deps: update camunda-platform-8.8 to v8.8.0-alpha4.1
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/test/unit/connectors/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/connectors/golden/service.golden.yaml
  charts/camunda-platform-8.8/test/unit/connectors/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/service.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/statefulset.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/service.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: dependencies, size/xs, test-persistent, version/8.8

#3530 fix: bump keycloak minor version
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform-8.6/values.yaml
Labels: version/8.6

#3535 fix: remove any trailing hyphen for test_namespaces
  .github/actions/workflow-vars/action.yml
Labels: fix, area/ci, kind/medic, tool/github-actions

#3541 fix: description on chart.yaml for 8.5
  charts/camunda-platform-8.5/Chart.yaml
Labels: version/8.5

#3545 fix: stray-double-quote issue for descriptions in release notes script
  scripts/generate-release-notes.sh
Labels: area/ci, size/xs, tool/script

#3548 revert: "chore(release): Camunda Platform Helm Chart 10.7.1 - Camunda 8.5 (#3540)"
  .github/config/release-please/.release-please-manifest.json
  .github/workflows/repo-pr-conventions.yaml
  charts/camunda-platform-8.5/Chart.yaml
  charts/camunda-platform-8.5/RELEASE-NOTES.md
  version-matrix/camunda-8.5/version-matrix.json
Labels: area/ci, version/8.5, kind/medic, tool/release-please, tool/github-actions

#3521 feat: core test suite inital migration to playwright
  .github/actions/failed-pods-info/action.yml
  .github/actions/generate-chart-matrix/action.yml
  .github/actions/install-tool-versions/action.yml
  .github/actions/test-type-vars/action.yml
  .github/workflows/chart-validate-template.yaml
  .github/workflows/test-chart-version-template.yaml
  .github/workflows/test-chart-version.yaml
  .github/workflows/test-integration-template.yaml
  .gitignore
  charts/camunda-platform-8.7/test/integration/testsuites/.eslintignore
  charts/camunda-platform-8.7/test/integration/testsuites/.gitignore
  charts/camunda-platform-8.7/test/integration/testsuites/Dockerfile
  charts/camunda-platform-8.7/test/integration/testsuites/eslint.config.mjs
  charts/camunda-platform-8.7/test/integration/testsuites/package-lock.json
  charts/camunda-platform-8.7/test/integration/testsuites/package.json
  charts/camunda-platform-8.7/test/integration/testsuites/playwright.config.ts
  charts/camunda-platform-8.7/test/integration/testsuites/playwright.core/patches/job.yaml
  charts/camunda-platform-8.7/test/integration/testsuites/tests/login.spec.ts
  charts/camunda-platform-8.7/test/integration/testsuites/vars/playwright/files/playwright-job-vars.env
  charts/camunda-platform-8.7/test/integration/testsuites/vars/playwright/files/playwright-job-vars.env.template
  charts/camunda-platform-8.7/test/integration/testsuites/vars/playwright/files/variables-default.yaml
  charts/camunda-platform-8.7/test/integration/testsuites/vars/playwright/files/variables-ingress-combined.yaml
  charts/camunda-platform-8.7/test/integration/testsuites/vars/playwright/files/variables.env
  charts/camunda-platform-8.7/test/integration/testsuites/vars/playwright/kustomization.yaml
  charts/camunda-platform-8.7/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  test/integration/scenarios/chart-full-setup/Taskfile.yaml
  test/integration/scenarios/lib/testsuite-deploy-taskfile-playwright.yaml
  test/integration/scenarios/lib/testsuite-deploy-taskfile.yaml
  test/integration/testsuites/playwright.base/job.yaml
  test/integration/testsuites/playwright.base/kustomization.yaml
  test/integration/testsuites/playwright.base/patches/job-image-pull-secrets.yaml
  test/integration/testsuites/playwright.base/testsuites/00-info.yaml
  test/integration/testsuites/playwright.core/files/test-inbound-process.bpmn
  test/integration/testsuites/playwright.core/files/test-process.bpmn
  test/integration/testsuites/playwright.core/kustomization.yaml
  test/integration/testsuites/playwright.core/patches/job.yaml
Labels: area/ci, version/8.7, tool/github-actions

#3529 fix: remove installationType for 8.7
  charts/camunda-platform-8.7/templates/camunda/constraints.tpl
  charts/camunda-platform-8.7/templates/zeebe/statefulset.yaml
  charts/camunda-platform-8.7/test/unit/zeebe/configmap_test.go
  charts/camunda-platform-8.7/values.yaml
Labels: component/zeebe, version/8.7

#3547 feat: support ingress external hostname
  charts/camunda-platform-8.4/README.md
  charts/camunda-platform-8.4/templates/camunda/ingress.yaml
  charts/camunda-platform-8.4/templates/zeebe-gateway/ingress.yaml
  charts/camunda-platform-8.4/test/unit/camunda/ingress_test.go
  charts/camunda-platform-8.4/values.yaml
  charts/camunda-platform-8.5/README.md
  charts/camunda-platform-8.5/templates/camunda/ingress.yaml
  charts/camunda-platform-8.5/templates/zeebe-gateway/ingress-grpc.yaml
  charts/camunda-platform-8.5/test/unit/camunda/ingress_test.go
  charts/camunda-platform-8.5/values.yaml
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/templates/camunda/ingress.yaml
  charts/camunda-platform-8.6/templates/zeebe-gateway/ingress-grpc.yaml
  charts/camunda-platform-8.6/test/unit/camunda/ingress_test.go
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-8.7/README.md
  charts/camunda-platform-8.7/templates/camunda/ingress.yaml
  charts/camunda-platform-8.7/templates/zeebe-gateway/ingress-grpc.yaml
  charts/camunda-platform-8.7/test/unit/camunda/ingress_test.go
  charts/camunda-platform-8.7/values.yaml
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/camunda/ingress-grpc.yaml
  charts/camunda-platform-8.8/templates/camunda/ingress-http.yaml
  charts/camunda-platform-8.8/test/unit/camunda/ingress_test.go
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: kind/enhancement, size/s, component/zeebe, version/8.4, version/8.5, version/8.6, version/8.7, version/8.8

#3571 fix: change back keycloak image version
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform-8.6/values.yaml
Labels: version/8.6

#3572 ci: preflight test skip for elasticsearch 8.6 and 8.8
  charts/camunda-platform-8.6/test/integration/testsuites/vars/files/testsuite-preflight.yaml
  charts/camunda-platform-8.8/test/integration/testsuites/vars/files/testsuite-preflight.yaml
Labels: area/ci, version/8.6, version/8.8, tool/github-actions

#3570 ci: nightly integration testing for OpenSearch
  .github/workflows/test-integration-template.yaml
  charts/camunda-platform-8.6/test/ci-test-config.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-opensearch.yaml
  charts/camunda-platform-8.7/test/ci-test-config.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-opensearch.yaml
  charts/camunda-platform-8.8/test/ci-test-config.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-opensearch.yaml
  test/integration/scenarios/chart-full-setup/Taskfile.yaml
Labels: area/ci, version/8.6, version/8.7, version/8.8, tool/github-actions
