Repository camunda/camunda-platform-helm, pull requests merged in 2025-02, with the labels that each got.

#2846 docs: remove executionIdentity as it's still non-stable
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/values.yaml
Labels: ad-hoc, size/xs, kind/medic, version/8.6, version/alpha

#2851 chore: update image tags for 8.4
  charts/camunda-platform-8.4/README.md
  charts/camunda-platform-8.4/test/unit/camunda/golden/optimize-service-monitor.golden.yaml
  charts/camunda-platform-8.4/test/unit/camunda/golden/tasklist-service-monitor.golden.yaml
  charts/camunda-platform-8.4/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform-8.4/test/unit/optimize/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-8.4/test/unit/optimize/golden/ingress.golden.yaml
  charts/camunda-platform-8.4/test/unit/optimize/golden/service.golden.yaml
  charts/camunda-platform-8.4/test/unit/optimize/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.4/test/unit/tasklist/golden/configmap.golden.yaml
  charts/camunda-platform-8.4/test/unit/tasklist/golden/deployment.golden.yaml
  charts/camunda-platform-8.4/test/unit/tasklist/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-8.4/test/unit/tasklist/golden/ingress.golden.yaml
  charts/camunda-platform-8.4/test/unit/tasklist/golden/service.golden.yaml
  charts/camunda-platform-8.4/values-latest.yaml
  charts/camunda-platform-8.4/values.yaml
Labels: ad-hoc, size/xs, version/8.4

#2859 chore: merge release-candidate branch for camunda-platform-8.6
  .github/config/release-please/.release-please-manifest.json
  charts/camunda-platform-8.6/Chart.yaml
  charts/camunda-platform-8.6/RELEASE-NOTES.md
  version-matrix.sqlite
  version-matrix/README.md
  version-matrix/camunda-8.6/README.md
Labels: area/ci, version/8.6, tool/release-please, tool/github-actions

#2868 cd: enhance the release-candidate workflow
  .github/workflows/chart-release-candidate.yaml
  .github/workflows/chart-release-chores.yml
  .github/workflows/chart-release-pr.yml
  .github/workflows/chart-release-template.yaml
  .github/workflows/prepare-chart-release-candidate.yaml
  Makefile
  scripts/list-chart-images.sh
Labels: kind/enhancement, area/ci, size/xs, area/cd, tool/github-actions, tool/script

#2853 feat(web-modeler): add support for configuring Zeebe clusters [backport]
  charts/camunda-platform-alpha-8.8/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/types.go
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha-8.8/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/camunda/_helpers.tpl
  charts/camunda-platform-alpha/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-alpha/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-alpha/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-alpha/test/unit/web-modeler/types.go
  charts/camunda-platform-alpha/values.yaml
Labels: component/web-modeler, version/alpha

#2855 fix(connectors): correct config for new 8.7
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/connectors/_helpers.tpl
  charts/camunda-platform-alpha/templates/connectors/configmap.yaml
  charts/camunda-platform-alpha/templates/connectors/deployment.yaml
  charts/camunda-platform-alpha/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/connectors/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-alpha/test/unit/connectors/golden/ingress.golden.yaml
  charts/camunda-platform-alpha/test/unit/connectors/golden/service.golden.yaml
  charts/camunda-platform-alpha/test/unit/connectors/golden/serviceaccount.golden.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: component/connectors, version/alpha

#2882 chore: merge release-candidate
  .github/config/release-please/.release-please-manifest.json
  charts/camunda-platform-8.3/Chart.yaml
  charts/camunda-platform-8.3/RELEASE-NOTES.md
  charts/camunda-platform-8.3/charts/identity/Chart.yaml
  charts/camunda-platform-8.3/test/unit/camunda/golden/connectors-service-monitor.golden.yaml
  charts/camunda-platform-8.3/test/unit/camunda/golden/identity-service-monitor.golden.yaml
  charts/camunda-platform-8.3/test/unit/camunda/golden/operate-service-monitor.golden.yaml
  charts/camunda-platform-8.3/test/unit/camunda/golden/optimize-service-monitor.golden.yaml
  charts/camunda-platform-8.3/test/unit/camunda/golden/tasklist-service-monitor.golden.yaml
  charts/camunda-platform-8.3/test/unit/camunda/golden/web-modeler-service-monitor.golden.yaml
  charts/camunda-platform-8.3/test/unit/camunda/golden/zeebe-gateway-service-monitor.golden.yaml
  charts/camunda-platform-8.3/test/unit/camunda/golden/zeebe-service-monitor.golden.yaml
  charts/camunda-platform-8.3/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform-8.3/test/unit/connectors/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-8.3/test/unit/connectors/golden/ingress.golden.yaml
  charts/camunda-platform-8.3/test/unit/connectors/golden/service.golden.yaml
  charts/camunda-platform-8.3/test/unit/connectors/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.3/test/unit/operate/golden/configmap.golden.yaml
  charts/camunda-platform-8.3/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform-8.3/test/unit/operate/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-8.3/test/unit/operate/golden/ingress.golden.yaml
  charts/camunda-platform-8.3/test/unit/operate/golden/service.golden.yaml
  charts/camunda-platform-8.3/test/unit/operate/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.3/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform-8.3/test/unit/optimize/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-8.3/test/unit/optimize/golden/ingress.golden.yaml
  charts/camunda-platform-8.3/test/unit/optimize/golden/service.golden.yaml
  charts/camunda-platform-8.3/test/unit/optimize/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.3/test/unit/tasklist/golden/configmap.golden.yaml
  charts/camunda-platform-8.3/test/unit/tasklist/golden/deployment.golden.yaml
  charts/camunda-platform-8.3/test/unit/tasklist/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-8.3/test/unit/tasklist/golden/ingress.golden.yaml
  charts/camunda-platform-8.3/test/unit/tasklist/golden/service.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe-gateway/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe-gateway/golden/configmap.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe-gateway/golden/deployment.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe-gateway/golden/ingress-all-enabled.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe-gateway/golden/ingress.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe-gateway/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe-gateway/golden/service.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe-gateway/golden/serviceaccount-annotations.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe-gateway/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe/golden/configmap.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe/golden/service.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.3/test/unit/zeebe/golden/statefulset.golden.yaml
  charts/camunda-platform-8.4/Chart.yaml
  charts/camunda-platform-8.4/RELEASE-NOTES.md
  charts/camunda-platform-8.4/charts/identity/Chart.yaml
  version-matrix.sqlite
  version-matrix/README.md
  version-matrix/camunda-8.3/README.md
Labels: area/ci, version/8.3, version/8.4, component/identity, tool/release-please, tool/github-actions

#2881 chore: update chart 8.8 files
  .github/workflows/test-version-alpha-8.8.yaml
  .github/workflows/test-version-alpha.yaml
  charts/camunda-platform-alpha-8.8/Chart.yaml
  charts/camunda-platform-alpha-8.8/README.md
  charts/camunda-platform-alpha-8.8/test/unit/connectors/golden/configmap.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/connectors/golden/service.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/connectors/golden/serviceaccount.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/console/golden/service.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/console/golden/serviceaccount.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap-multiregion-failBack.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap-multiregion-failOver.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/service.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/serviceaccount.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/statefulset.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/identity/golden/service.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/identity/golden/serviceaccount.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/optimize/golden/service.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/optimize/golden/serviceaccount.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/golden/configmap-shared.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/golden/deployment-restapi.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/golden/deployment-webapp.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/golden/deployment-websockets.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/golden/secret-shared.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/golden/serviceaccount.golden.yaml
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha-8.8/values.yaml
  charts/camunda-platform-alpha/templates/camunda/constraints.tpl
Labels: area/ci, tool/github-actions, version/alpha

#2884 chore(release): Camunda Platform Helm Chart 10.5.0 - Camunda 8.5 (#2874)
  .github/config/release-please/.release-please-manifest.json
  charts/camunda-platform-8.5/Chart.yaml
  charts/camunda-platform-8.5/RELEASE-NOTES.md
  version-matrix/README.md
  version-matrix/camunda-8.4/README.md
  version-matrix/camunda-8.5/README.md
Labels: area/ci, version/8.5, tool/release-please, tool/github-actions

#2889 fix: add zeebe role
  charts/camunda-platform-alpha-8.8/templates/identity/configmap.yaml
  charts/camunda-platform-alpha-8.8/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/templates/identity/deployment.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/deployment.golden.yaml
Labels: component/identity, version/alpha

#2878 cd: use separate version-matrix.json file per camunda version
  scripts/generate-version-matrix.sh
  version-matrix.sqlite
  version-matrix/camunda-8.2/version-matrix.json
  version-matrix/camunda-8.3/version-matrix.json
  version-matrix/camunda-8.4/version-matrix.json
  version-matrix/camunda-8.5/version-matrix.json
  version-matrix/camunda-8.6/version-matrix.json
Labels: tool/script

#2911 fix: add new line to 8.6
  charts/camunda-platform-8.6/Chart.yaml
Labels: version/8.6

#2914 fix: add new line
  charts/camunda-platform-8.5/Chart.yaml
Labels: version/8.5

#2871 chore(web-modeler): remove unnecessary config property
  charts/camunda-platform-alpha-8.8/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/types.go
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha-8.8/values.yaml
  charts/camunda-platform-alpha/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-alpha/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-alpha/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-alpha/test/unit/web-modeler/types.go
  charts/camunda-platform-alpha/values.yaml
Labels: component/web-modeler, version/alpha

#2925 ci: bring back private alpha release
  .github/workflows/chart-release.yaml
Labels: area/ci, tool/github-actions

#2928 chore(release): Camunda Platform Helm Chart 12.0.0-alpha4 - Camunda A…
  .github/config/release-please/.release-please-manifest.json
  .github/workflows/chart-release-chores.yml
  .github/workflows/chart-release.yaml
  charts/camunda-platform-alpha/Chart.yaml
  charts/camunda-platform-alpha/RELEASE-NOTES.md
  version-matrix/README.md
  version-matrix/camunda-8.3/version-matrix.json
  version-matrix/camunda-8.4/version-matrix.json
  version-matrix/camunda-8.5/README.md
  version-matrix/camunda-8.5/version-matrix.json
  version-matrix/camunda-8.6/README.md
  version-matrix/camunda-8.6/version-matrix.json
  version-matrix/camunda-8.7/version-matrix.json
Labels: release/pr

#2922 chore: camunda Platform Helm Chart 11.2.1 - Camunda 8.6
  .github/config/release-please/.release-please-manifest.json
  charts/camunda-platform-8.6/Chart.yaml
  charts/camunda-platform-8.6/RELEASE-NOTES.md
Labels: area/ci, version/8.6, release/pr, tool/release-please, tool/github-actions

#2933 chore(release): camunda Platform Helm Chart 10.5.1 - Camunda 8.5 (#2916)
  .github/config/release-please/.release-please-manifest.json
  charts/camunda-platform-8.5/Chart.yaml
  charts/camunda-platform-8.5/RELEASE-NOTES.md
Labels: area/ci, version/8.5, release/pr, tool/release-please, tool/github-actions

#2944 fix: correct linter subchart identitykeycloak
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/values.yaml
Labels: kind/bug, version/8.6, version/alpha

#2906 fix: disable secret autoGenerated flag since it causes race condition
  charts/camunda-platform-8.3/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-8.4/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-8.5/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-8.6/Chart.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-alpha-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
Labels: area/ci, version/8.3, version/8.4, version/8.5, version/8.6, tool/release-please, tool/github-actions, version/alpha

#2891 fix: backport console override from 8.8 to 8.7
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/console/configmap.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: area/ci, component/console, tool/github-actions, version/alpha

#2971 chore: use 8.7-snapshort in 8.7-alpha gha
  .github/workflows/test-integration-template.yaml
Labels: area/ci, tool/github-actions

#2836 feat: add multi-backend document-store configuration
  charts/camunda-platform-alpha-8.8/README.md
  charts/camunda-platform-alpha-8.8/templates/camunda/configmap-documentstore.yaml
  charts/camunda-platform-alpha-8.8/templates/connectors/deployment.yaml
  charts/camunda-platform-alpha-8.8/templates/console/deployment.yaml
  charts/camunda-platform-alpha-8.8/templates/core/statefulset.yaml
  charts/camunda-platform-alpha-8.8/templates/identity/deployment.yaml
  charts/camunda-platform-alpha-8.8/templates/optimize/deployment.yaml
  charts/camunda-platform-alpha-8.8/templates/web-modeler/deployment-restapi.yaml
  charts/camunda-platform-alpha-8.8/templates/web-modeler/deployment-webapp.yaml
  charts/camunda-platform-alpha-8.8/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/statefulset.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/golden/deployment-restapi.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/golden/deployment-webapp.golden.yaml
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha-8.8/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/camunda/configmap-documentstore.yaml
  charts/camunda-platform-alpha/templates/connectors/deployment.yaml
  charts/camunda-platform-alpha/templates/console/deployment.yaml
  charts/camunda-platform-alpha/templates/execution-identity/deployment.yaml
  charts/camunda-platform-alpha/templates/identity/deployment.yaml
  charts/camunda-platform-alpha/templates/operate/deployment.yaml
  charts/camunda-platform-alpha/templates/tasklist/deployment.yaml
  charts/camunda-platform-alpha/templates/web-modeler/deployment-restapi.yaml
  charts/camunda-platform-alpha/templates/web-modeler/deployment-webapp.yaml
  charts/camunda-platform-alpha/templates/zeebe-gateway/deployment.yaml
  charts/camunda-platform-alpha/templates/zeebe/statefulset.yaml
  charts/camunda-platform-alpha/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/execution-identity/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/operate/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/tasklist/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/web-modeler/golden/deployment-restapi.golden.yaml
  charts/camunda-platform-alpha/test/unit/web-modeler/golden/deployment-webapp.golden.yaml
  charts/camunda-platform-alpha/test/unit/zeebe-gateway/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/zeebe/golden/statefulset.golden.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: component/zeebe, component/web-modeler, component/identity, component/operate, component/optimize, component/tasklist, component/connectors, component/console, version/alpha, component/core

#2975 fix: add unit test for documentstore configurations
  charts/camunda-platform-alpha-8.8/test/unit/camunda/documentstore_configmap_test.go
  charts/camunda-platform-alpha/test/unit/camunda/documentstore_configmap_test.go
Labels: area/test, version/alpha

#2982 fix: set bucketTtl for aws as int instead of string
  charts/camunda-platform-alpha-8.8/README.md
  charts/camunda-platform-alpha-8.8/templates/camunda/configmap-documentstore.yaml
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha-8.8/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/camunda/configmap-documentstore.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: version/alpha

#2986 chore: remove integration of on-demand ROSA clusters
  .github/config/rosa-on-demand/distribution-team/.gitignore
  .github/config/rosa-on-demand/distribution-team/external-cluster-secretstore.yaml
  .github/config/rosa-on-demand/distribution-team/external-secret.yaml
  .github/config/rosa-on-demand/distribution-team/kustomization.yaml
  .github/config/rosa-on-demand/distribution-team/secret.yaml.tpl
  .github/config/rosa-on-demand/external-dns/.gitignore
  .github/config/rosa-on-demand/external-dns/kustomization.yaml
  .github/config/rosa-on-demand/external-dns/secret.yaml.tpl
  .github/config/rosa-on-demand/kustomization.yaml
  .github/config/rosa-on-demand/test-integration-rosa-matrix.yaml
  .github/config/test-integration-matrix.yaml
  .github/workflows/test-integration-rosa-cleanup.yml
  .github/workflows/test-integration-rosa-template.yaml
  .github/workflows/test-integration-rosa.yaml
Labels: area/ci, tool/github-actions

#2988 fix: bring back test-integration-matrix.yaml
  .github/config/test-integration-matric.yaml
  .github/config/test-integration-matrix.yaml
Labels: area/ci, tool/github-actions

#2995 refactor: rename property allowUnauthenticatedApiAccess to unprotectedApi
  charts/camunda-platform-alpha-8.8/README.md
  charts/camunda-platform-alpha-8.8/templates/core/configmap.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha-8.8/values.yaml
Labels: component/core

#2997 fix: remove typo matrix file
  .github/config/test-integration-matric.yaml
Labels: area/ci, tool/github-actions

#2998 fix: configMap and values revised for documentStore
  charts/camunda-platform-alpha-8.8/README.md
  charts/camunda-platform-alpha-8.8/templates/camunda/configmap-documentstore.yaml
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha-8.8/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/camunda/configmap-documentstore.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: version/alpha

#2942 feat: new archiver configuration with retention as child
  charts/camunda-platform-alpha-8.8/README.md
  charts/camunda-platform-alpha-8.8/templates/core/configmap.yaml
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha-8.8/values.yaml
Labels: component/zeebe, version/alpha, component/core

#3013 fix: remove localstorage support for documentStore
  charts/camunda-platform-alpha-8.8/README.md
  charts/camunda-platform-alpha-8.8/templates/camunda/configmap-documentstore.yaml
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha-8.8/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/camunda/configmap-documentstore.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: version/alpha

#3015 feat: added connectors to console config
  charts/camunda-platform-alpha/templates/camunda/_helpers.tpl
  charts/camunda-platform-alpha/test/unit/console/golden/configmap.golden.yaml
Labels: kind/enhancement, size/xs, version/alpha

#3001 fix: remove unused test connection pod
  .github/actions/generate-chart-matrix/action.yml
  .github/workflows/test-version-maintenance.yaml
  charts/camunda-platform-8.2/charts/identity/templates/tests/test-connection.yaml
  charts/camunda-platform-8.2/charts/operate/templates/tests/test-connection.yaml
  charts/camunda-platform-8.2/charts/optimize/templates/tests/test-connection.yaml
  charts/camunda-platform-8.2/charts/tasklist/templates/tests/test-connection.yaml
  charts/camunda-platform-8.2/charts/zeebe/templates/tests/test-connection.yaml
  charts/camunda-platform-8.2/templates/web-modeler/tests/test-connection.yaml
  charts/camunda-platform-8.3/charts/identity/templates/tests/test-connection.yaml
  charts/camunda-platform-8.3/templates/operate/tests/test-connection.yaml
  charts/camunda-platform-8.3/templates/web-modeler/tests/test-connection.yaml
  charts/camunda-platform-8.4/charts/identity/templates/tests/test-connection.yaml
  charts/camunda-platform-8.4/templates/operate/tests/test-connection.yaml
  charts/camunda-platform-8.4/templates/web-modeler/tests/test-connection.yaml
  charts/camunda-platform-8.5/templates/identity/tests/test-connection.yaml
  charts/camunda-platform-8.5/templates/operate/tests/test-connection.yaml
  charts/camunda-platform-8.5/templates/web-modeler/tests/test-connection.yaml
  charts/camunda-platform-8.6/templates/identity/tests/test-connection.yaml
  charts/camunda-platform-8.6/templates/operate/tests/test-connection.yaml
  charts/camunda-platform-8.6/templates/web-modeler/tests/test-connection.yaml
  charts/camunda-platform-alpha-8.8/templates/identity/tests/test-connection.yaml
  charts/camunda-platform-alpha-8.8/templates/web-modeler/tests/test-connection.yaml
  charts/camunda-platform-alpha/templates/identity/tests/test-connection.yaml
  charts/camunda-platform-alpha/templates/operate/tests/test-connection.yaml
  charts/camunda-platform-alpha/templates/web-modeler/tests/test-connection.yaml
Labels: area/ci, version/8.2, version/8.3, component/zeebe, version/8.4, version/8.5, version/8.6, component/web-modeler, component/identity, component/operate, component/optimize, component/tasklist, tool/github-actions, version/alpha

#3004 ci: add deps dependency to release please to trigger a PR
  .github/config/release-please/release-please-config.json
Labels: area/ci, tool/release-please, tool/github-actions

#3014 feat: configure basic auth for connectors
  charts/camunda-platform-alpha-8.8/templates/connectors/configmap.yaml
  charts/camunda-platform-alpha-8.8/test/unit/connectors/golden/configmap.golden.yaml
Labels: component/connectors

#3025 fix: increase zeebeGateway resources
  charts/camunda-platform-8.5/README.md
  charts/camunda-platform-8.5/test/unit/zeebe-gateway/golden/deployment.golden.yaml
  charts/camunda-platform-8.5/values.yaml
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/test/unit/zeebe-gateway/golden/deployment.golden.yaml
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/test/unit/zeebe-gateway/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: version/8.5, version/8.6, version/alpha
