Repository camunda/camunda-platform-helm, pull requests merged in 2025-03, with the labels that each got.

#3040 docs: add prerelease annotation to alpha charts
  charts/camunda-platform-alpha-8.8/Chart.yaml
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha/Chart.yaml
Labels: version/alpha

#3034 feat: bump Keycloak version for 8.7 and 8.8 to match expected support
  charts/camunda-platform-alpha-8.8/Chart.yaml
  charts/camunda-platform-alpha-8.8/README.md
  charts/camunda-platform-alpha-8.8/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha-8.8/values.yaml
  charts/camunda-platform-alpha/Chart.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform-alpha/values-latest.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: version/alpha

#3033 refactor: disable management identity in alpha-8.8
  .github/workflows/test-version-alpha-8.8.yaml
  charts/camunda-platform-alpha-8.8/README.md
  charts/camunda-platform-alpha-8.8/templates/connectors/configmap.yaml
  charts/camunda-platform-alpha-8.8/templates/core/configmap.yaml
  charts/camunda-platform-alpha-8.8/templates/identity/_helpers.tpl
  charts/camunda-platform-alpha-8.8/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-alpha-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-alpha-8.8/test/unit/camunda/goldenfiles_test.go
  charts/camunda-platform-alpha-8.8/test/unit/camunda/ingress_test.go
  charts/camunda-platform-alpha-8.8/test/unit/camunda/keycloak_statefulset_test.go
  charts/camunda-platform-alpha-8.8/test/unit/camunda/servicemonitor_test.go
  charts/camunda-platform-alpha-8.8/test/unit/connectors/golden/configmap.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/connectors/golden/service.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/connectors/golden/serviceaccount.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/connectors/goldenfiles_test.go
  charts/camunda-platform-alpha-8.8/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/console/goldenfiles_test.go
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/service.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/serviceaccount.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/statefulset.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/goldenfiles_test.go
  charts/camunda-platform-alpha-8.8/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/identity/goldenfiles_test.go
  charts/camunda-platform-alpha-8.8/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/optimize/goldenfiles_test.go
  charts/camunda-platform-alpha-8.8/test/unit/utils/goldenfiles.go
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/web-modeler/goldenfiles_test.go
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha-8.8/values.yaml
Labels: area/ci, test-persistent, component/web-modeler, component/identity, component/connectors, tool/github-actions, component/core

#3072 ci: unify asdf setup and select tools to install
  .github/actions/install-tool-versions/action.yml
  .github/workflows/chart-chores.yaml
  .github/workflows/chart-release-chores.yml
  .github/workflows/chart-release-template.yaml
  .github/workflows/chart-release.yaml
  .github/workflows/chart-validate-template.yaml
  .github/workflows/renovate-post-upgrade.yaml
  .github/workflows/test-integration-template.yaml
  .github/workflows/test-unit-template.yml
Labels: area/ci, tool/asdf, tool/github-actions

#3071 fix: ensure app configs rendered correctly in ConfigMap
  charts/camunda-platform-8.3/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.4/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.5/templates/operate/configmap.yaml
  charts/camunda-platform-8.5/templates/tasklist/configmap.yaml
  charts/camunda-platform-8.5/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.5/test/unit/operate/golden/configmap.golden.yaml
  charts/camunda-platform-8.6/templates/operate/configmap.yaml
  charts/camunda-platform-8.6/templates/tasklist/configmap.yaml
  charts/camunda-platform-8.6/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.6/test/unit/operate/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/templates/console/configmap.yaml
  charts/camunda-platform-alpha/templates/operate/configmap.yaml
  charts/camunda-platform-alpha/templates/tasklist/configmap.yaml
  charts/camunda-platform-alpha/templates/zeebe/configmap.yaml
  charts/camunda-platform-alpha/test/unit/operate/golden/configmap.golden.yaml
Labels: size/xs, kind/fix, version/8.3, component/zeebe, version/8.4, version/8.5, version/8.6, component/operate, component/tasklist, component/console, version/alpha

#3082 ci: only generate releases for the helm chart being released by the candidate branch
  .github/workflows/chart-release-pr.yml
Labels: area/ci, kind/fix, tool/github-actions

#3116 fix: increase mem of zeebe gateway
  charts/camunda-platform-8.5/README.md
  charts/camunda-platform-8.5/test/unit/zeebe-gateway/golden/deployment.golden.yaml
  charts/camunda-platform-8.5/values.yaml
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/test/unit/zeebe-gateway/golden/deployment.golden.yaml
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/test/unit/zeebe-gateway/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: version/8.5, version/8.6, version/alpha

#3129 ci: run release-please for a single version
  .github/workflows/chart-release-pr.yml
Labels: area/ci, size/xs, kind/fix, tool/github-actions

#3028 ci: add workflows for new and closed issues
  .github/workflows/add-new-issue.yml
  .github/workflows/add-to-project.yml
  .github/workflows/closed-issue.yml
Labels: area/ci, tool/github-actions

#3151 test: disable tests for disabled components
  charts/camunda-platform-alpha/test/integration/testsuites/vars/files/testsuite-core.yaml
Labels: version/alpha

#3159 fix: revert "test: disable tests for disabled components (#3151)"
  charts/camunda-platform-alpha/test/integration/testsuites/vars/files/testsuite-core.yaml
Labels: version/alpha

#3163 chore(release): Camunda Platform Helm Chart
  .github/config/release-please/.release-please-manifest.json
  charts/camunda-platform-8.3/CHANGELOG.md
  charts/camunda-platform-8.3/Chart.yaml
  charts/camunda-platform-8.3/charts/identity/Chart.yaml
  charts/camunda-platform-8.4/Chart.yaml
  charts/camunda-platform-8.4/RELEASE-NOTES.md
  charts/camunda-platform-8.4/charts/identity/Chart.yaml
  charts/camunda-platform-8.5/CHANGELOG.md
  charts/camunda-platform-8.5/Chart.yaml
  charts/camunda-platform-8.6/Chart.yaml
  charts/camunda-platform-8.6/RELEASE-NOTES.md
  charts/camunda-platform-alpha/Chart.yaml
  charts/camunda-platform-alpha/RELEASE-NOTES.md
  version-matrix/README.md
  version-matrix/camunda-8.2/README.md
  version-matrix/camunda-8.3/README.md
  version-matrix/camunda-8.3/version-matrix.json
  version-matrix/camunda-8.4/README.md
  version-matrix/camunda-8.4/version-matrix.json
  version-matrix/camunda-8.5/README.md
  version-matrix/camunda-8.5/version-matrix.json
  version-matrix/camunda-8.6/README.md
  version-matrix/camunda-8.6/version-matrix.json
  version-matrix/camunda-8.7/version-matrix.json
Labels: area/ci, version/8.3, version/8.4, version/8.5, version/8.6, component/identity, tool/release-please, tool/github-actions, version/alpha

#3142 test: unit test document hanlding
  charts/camunda-platform-alpha/test/unit/camunda/documentstore_configmap_test.go
Labels: version/alpha

#3050 feat: add global.extraManifests support for injecting arbitrary YAML
  charts/camunda-platform-8.3/README.md
  charts/camunda-platform-8.3/templates/camunda/extra-manifests.yaml
  charts/camunda-platform-8.3/values.yaml
  charts/camunda-platform-8.4/README.md
  charts/camunda-platform-8.4/templates/camunda/extra-manifests.yaml
  charts/camunda-platform-8.4/values.yaml
  charts/camunda-platform-8.5/README.md
  charts/camunda-platform-8.5/templates/camunda/extra-manifests.yaml
  charts/camunda-platform-8.5/values.yaml
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/templates/camunda/extra-manifests.yaml
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/camunda/extra-manifests.yaml
  charts/camunda-platform-alpha/values.yaml
Labels: version/8.3, version/8.4, version/8.5, version/8.6, version/alpha

#3169 refactor: renamed archiver to history for camunda exporter settings
  charts/camunda-platform-alpha-8.8/README.md
  charts/camunda-platform-alpha-8.8/templates/core/configmap.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-alpha-8.8/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha-8.8/values.yaml
Labels: component/core

#3084 fix: changing helper function for identityURL
  charts/camunda-platform-8.3/templates/camunda/_helpers.tpl
  charts/camunda-platform-8.3/templates/optimize/deployment.yaml
  charts/camunda-platform-8.3/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-8.3/templates/web-modeler/deployment-restapi.yaml
  charts/camunda-platform-8.3/templates/web-modeler/deployment-webapp.yaml
  charts/camunda-platform-8.4/templates/camunda/_helpers.tpl
  charts/camunda-platform-8.4/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-8.4/templates/web-modeler/deployment-restapi.yaml
  charts/camunda-platform-8.4/templates/web-modeler/deployment-webapp.yaml
  charts/camunda-platform-8.5/templates/camunda/_helpers.tpl
  charts/camunda-platform-8.5/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-8.5/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-8.5/templates/web-modeler/configmap-webapp.yaml
  charts/camunda-platform-8.6/templates/camunda/_helpers.tpl
  charts/camunda-platform-8.6/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-8.6/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-8.6/templates/web-modeler/configmap-webapp.yaml
  charts/camunda-platform-alpha-8.8/templates/camunda/_helpers.tpl
  charts/camunda-platform-alpha-8.8/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-alpha-8.8/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-alpha-8.8/templates/web-modeler/configmap-webapp.yaml
  charts/camunda-platform-alpha/templates/camunda/_helpers.tpl
  charts/camunda-platform-alpha/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-alpha/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-alpha/templates/web-modeler/configmap-webapp.yaml
Labels: version/8.3, version/8.4, version/8.5, version/8.6, component/web-modeler, component/optimize, version/alpha

#3170 test: create go package testutils to simplify unit tests
  charts/camunda-platform-alpha/test/unit/camunda/documentstore_configmap_test.go
  charts/camunda-platform-alpha/test/unit/testhelpers/testhelpers.go
Labels: version/alpha

#3176 test: support application.yaml config in generic unit test
  charts/camunda-platform-alpha/test/unit/console/configmap_test.go
  charts/camunda-platform-alpha/test/unit/testhelpers/testhelpers.go
Labels: version/alpha

#3103 fix make verify-components-version error
  scripts/verify-components-version.sh
Labels: tool/script

#3210 ci: backport console confmap unit test to 8.5 and 8.6
  charts/camunda-platform-8.5/test/unit/console/configmap_test.go
  charts/camunda-platform-8.5/test/unit/testhelpers/testhelpers.go
  charts/camunda-platform-8.6/test/unit/console/configmap_test.go
  charts/camunda-platform-8.6/test/unit/testhelpers/testhelpers.go
Labels: version/8.5, version/8.6

#3234 cd: fix the release flow
  .github/config/release-please/.release-please-manifest.json
  .github/config/release-please/release-please-config.json
  .github/workflows/chart-release-pr.yml
  .github/workflows/chart-release.yaml
  charts/camunda-platform-8.3/.release-please-config.json
  charts/camunda-platform-8.3/.release-please-manifest.json
  charts/camunda-platform-8.4/.release-please-config.json
  charts/camunda-platform-8.4/.release-please-manifest.json
  charts/camunda-platform-8.5/.release-please-config.json
  charts/camunda-platform-8.5/.release-please-manifest.json
  charts/camunda-platform-8.6/.release-please-config.json
  charts/camunda-platform-8.6/.release-please-manifest.json
  charts/camunda-platform-alpha-8.8/.release-please-config.json
  charts/camunda-platform-alpha-8.8/.release-please-manifest.json
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha/.release-please-config.json
  charts/camunda-platform-alpha/.release-please-manifest.json
Labels: area/ci, size/xs, version/8.3, version/8.4, version/8.5, version/8.6, area/cd, tool/release-please, tool/github-actions, version/alpha

#3232 fix: use client credentials authentication for default cluster in Web Modeler if Entra ID is used
  charts/camunda-platform-alpha/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-alpha/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-alpha/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-alpha/test/unit/web-modeler/types.go
  charts/camunda-platform-alpha/values.yaml
Labels: component/web-modeler, version/alpha

#3254 cd: use release-please always-bump-patch for 8.3
  .github/config/release-please/release-please-config.json
Labels: area/ci, size/xs, area/cd, tool/release-please, tool/github-actions
