Repository camunda/camunda-platform-helm, pull requests merged in 2025-06, with the labels that each got.

#3586 fix: add main env to migration init container
  Makefile
  charts/camunda-platform-8.4/README.md
  charts/camunda-platform-8.4/templates/optimize/deployment.yaml
  charts/camunda-platform-8.4/values.yaml
  charts/camunda-platform-8.5/README.md
  charts/camunda-platform-8.5/templates/operate/deployment.yaml
  charts/camunda-platform-8.5/templates/optimize/deployment.yaml
  charts/camunda-platform-8.5/values.yaml
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/templates/operate/deployment.yaml
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-8.7/README.md
  charts/camunda-platform-8.7/templates/operate/deployment.yaml
  charts/camunda-platform-8.7/values.yaml
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/optimize/deployment.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.3, version/8.4, version/8.5, version/8.6, version/8.7, version/8.8, component/operate, component/optimize, tool/script

#3566 fix: correct identity 8.8 image tag
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/service.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: size/xs, kind/fix, kind/medic, version/8.8

#3589 fix: restore the original Zeebe startup script behaviour for backup operations
  charts/camunda-platform-8.4/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.4/test/unit/zeebe/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.4/test/unit/zeebe/golden/configmap-multiregion-failOver.golden.yaml
  charts/camunda-platform-8.4/test/unit/zeebe/golden/configmap.golden.yaml
  charts/camunda-platform-8.5/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.5/test/unit/zeebe/configmap_test.go
  charts/camunda-platform-8.5/test/unit/zeebe/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.5/test/unit/zeebe/golden/configmap-multiregion-failOver.golden.yaml
  charts/camunda-platform-8.5/test/unit/zeebe/golden/configmap.golden.yaml
  charts/camunda-platform-8.6/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.6/test/unit/zeebe/configmap_test.go
  charts/camunda-platform-8.6/test/unit/zeebe/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.6/test/unit/zeebe/golden/configmap-multiregion-failOver.golden.yaml
  charts/camunda-platform-8.6/test/unit/zeebe/golden/configmap.golden.yaml
  charts/camunda-platform-8.7/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.7/test/unit/zeebe/configmap_test.go
  charts/camunda-platform-8.7/test/unit/zeebe/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.7/test/unit/zeebe/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/templates/core/configmap.yaml
  charts/camunda-platform-8.8/test/unit/core/configmap_test.go
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap.golden.yaml
Labels: component/zeebe, version/8.4, version/8.5, bug, version/8.6, version/8.7, version/8.8, component/core

#3446 feat: support image.digest for all components
  charts/camunda-platform-8.5/README.md
  charts/camunda-platform-8.5/templates/camunda/_helpers.tpl
  charts/camunda-platform-8.5/templates/connectors/_helpers.tpl
  charts/camunda-platform-8.5/templates/console/_helpers.tpl
  charts/camunda-platform-8.5/templates/identity/_helpers.tpl
  charts/camunda-platform-8.5/templates/operate/_helpers.tpl
  charts/camunda-platform-8.5/templates/optimize/_helpers.tpl
  charts/camunda-platform-8.5/templates/tasklist/_helpers.tpl
  charts/camunda-platform-8.5/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-8.5/templates/zeebe-gateway/_helpers.tpl
  charts/camunda-platform-8.5/templates/zeebe/_helpers.tpl
  charts/camunda-platform-8.5/test/unit/camunda/global_deployment_test.go
  charts/camunda-platform-8.5/test/unit/zeebe/configmap_test.go
  charts/camunda-platform-8.5/values.yaml
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/templates/camunda/_helpers.tpl
  charts/camunda-platform-8.6/templates/connectors/_helpers.tpl
  charts/camunda-platform-8.6/templates/console/_helpers.tpl
  charts/camunda-platform-8.6/templates/execution-identity/_helpers.tpl
  charts/camunda-platform-8.6/templates/identity/_helpers.tpl
  charts/camunda-platform-8.6/templates/operate/_helpers.tpl
  charts/camunda-platform-8.6/templates/optimize/_helpers.tpl
  charts/camunda-platform-8.6/templates/tasklist/_helpers.tpl
  charts/camunda-platform-8.6/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-8.6/templates/zeebe-gateway/_helpers.tpl
  charts/camunda-platform-8.6/templates/zeebe/_helpers.tpl
  charts/camunda-platform-8.6/test/unit/camunda/global_deployment_test.go
  charts/camunda-platform-8.6/test/unit/zeebe/configmap_test.go
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-8.7/README.md
  charts/camunda-platform-8.7/templates/camunda/_helpers.tpl
  charts/camunda-platform-8.7/templates/connectors/_helpers.tpl
  charts/camunda-platform-8.7/templates/console/_helpers.tpl
  charts/camunda-platform-8.7/templates/execution-identity/_helpers.tpl
  charts/camunda-platform-8.7/templates/identity/_helpers.tpl
  charts/camunda-platform-8.7/templates/operate/_helpers.tpl
  charts/camunda-platform-8.7/templates/optimize/_helpers.tpl
  charts/camunda-platform-8.7/templates/tasklist/_helpers.tpl
  charts/camunda-platform-8.7/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-8.7/templates/zeebe-gateway/_helpers.tpl
  charts/camunda-platform-8.7/templates/zeebe/_helpers.tpl
  charts/camunda-platform-8.7/test/unit/camunda/global_deployment_test.go
  charts/camunda-platform-8.7/test/unit/zeebe/configmap_test.go
  charts/camunda-platform-8.7/values.yaml
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/camunda/_helpers.tpl
  charts/camunda-platform-8.8/templates/connectors/_helpers.tpl
  charts/camunda-platform-8.8/templates/console/_helpers.tpl
  charts/camunda-platform-8.8/templates/core/_helpers.tpl
  charts/camunda-platform-8.8/templates/identity/_helpers.tpl
  charts/camunda-platform-8.8/templates/optimize/_helpers.tpl
  charts/camunda-platform-8.8/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-8.8/test/unit/camunda/global_deployment_test.go
  charts/camunda-platform-8.8/test/unit/core/configmap_test.go
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: kind/enhancement, component/zeebe, version/8.5, version/8.6, version/8.7, version/8.8, component/web-modeler, component/identity, component/operate, component/optimize, component/tasklist, component/connectors, component/console, component/core

#3621 fix: disable the keycloak initContainer package from renovate
  .github/renovate.json5
Labels: tool/renovatebot

#3642 deps: update camunda/connectors-bundle and camunda/camunda docker tag…
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/test/unit/connectors/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/connectors/golden/service.golden.yaml
  charts/camunda-platform-8.8/test/unit/connectors/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/poddisruptionbudget.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/service.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/statefulset.golden.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: dependencies, version/8.8

#3493 feat: support core identity oidc
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/templates/connectors/_helpers.tpl
  charts/camunda-platform-8.8/templates/connectors/configmap.yaml
  charts/camunda-platform-8.8/templates/connectors/deployment.yaml
  charts/camunda-platform-8.8/templates/connectors/inbound-secret.yaml
  charts/camunda-platform-8.8/templates/core/configmap.yaml
  charts/camunda-platform-8.8/templates/identity/configmap.yaml
  charts/camunda-platform-8.8/templates/identity/deployment.yaml
  charts/camunda-platform-8.8/test/unit/camunda/golden/keycloak-statefulset.golden.yaml
  charts/camunda-platform-8.8/test/unit/connectors/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/connectors/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-authorizations.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/core/golden/statefulset.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-8.8/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/test/unit/optimize/golden/deployment.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8, component/identity, component/connectors, component/core

#3610 fix: readd Zeebe NodeId logic from multi-region for 8.8
  charts/camunda-platform-8.8/templates/core/configmap.yaml
Labels: kind/bug, bug, version/8.8, component/core

#3646 fix: bump version in webModeler alpha to alpha5.1
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/configmap-shared.golden.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/deployment-restapi.golden.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/deployment-webapp.golden.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/deployment-websockets.golden.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/secret-shared.golden.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/serviceaccount.golden.yaml
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: version/8.8

#3654 fix: cleanup multiregion installationtype
  charts/camunda-platform-8.7/templates/zeebe/configmap.yaml
  charts/camunda-platform-8.7/test/unit/zeebe/golden/configmap-log4j2.golden.yaml
  charts/camunda-platform-8.7/test/unit/zeebe/golden/configmap.golden.yaml
Labels: component/zeebe, version/8.7

#3664 refactor: update rest api endpoint in web modeler config
  charts/camunda-platform-8.8/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-8.8/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
Labels: kind/refactor, size/xs, version/8.8, component/web-modeler

#3712 fix: connectors inbound disabled mode
  charts/camunda-platform-8.7/templates/connectors/configmap.yaml
Labels: size/xs, kind/fix, version/8.7, component/connectors

#3713 fix: resume alpha upgrades by renovate post-alpha6
  .github/renovate.json5
Labels: tool/renovatebot

#3719 ci: remove pr trigger from nightly testing
  .github/workflows/test-chart-version-nightly.yaml
Labels: area/ci, tool/github-actions

#3731 fix: remove the metadata in the namespace name
  .github/workflows/test-chart-version-nightly-template.yaml
  .github/workflows/test-chart-version-template.yaml
  charts/camunda-platform-8.8/Chart.yaml
Labels: area/ci, version/8.8, tool/github-actions

#3583 fix: update params for existingSecret
  charts/camunda-platform-8.4/README.md
  charts/camunda-platform-8.4/values.yaml
  charts/camunda-platform-8.5/README.md
  charts/camunda-platform-8.5/values.yaml
  charts/camunda-platform-8.6/README.md
  charts/camunda-platform-8.6/values.yaml
  charts/camunda-platform-8.7/README.md
  charts/camunda-platform-8.7/values.yaml
  charts/camunda-platform-8.8/README.md
  charts/camunda-platform-8.8/values.schema.json
  charts/camunda-platform-8.8/values.yaml
Labels: documentation, kind/docs, version/8.4, version/8.5, version/8.6, version/8.7, version/8.8

#2832 fix: add EKS as an option in addition to GKE to deploy from for integration testing
  .github/actions/test-type-vars/action.yml
  .github/actions/workflow-vars/action.yml
  .github/config/external-secret/external-secret-credentials.yaml
  .github/config/test-integration-matrix.yaml
  .github/workflows/dispatch-integration.yaml
  .github/workflows/test-chart-version-template.yaml
  .github/workflows/test-integration-template.yaml
  charts/camunda-platform-8.2/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-base.yaml
  charts/camunda-platform-8.2/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.2/test/integration/scenarios/infra/values-infra-eks-preemptible.yaml
  charts/camunda-platform-8.2/test/integration/scenarios/infra/values-infra-eks-standard.yaml
  charts/camunda-platform-8.3/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-base.yaml
  charts/camunda-platform-8.3/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.3/test/integration/scenarios/infra/values-infra-eks-preemptible.yaml
  charts/camunda-platform-8.3/test/integration/scenarios/infra/values-infra-eks-standard.yaml
  charts/camunda-platform-8.3/test/integration/testsuites/vars/files/testsuite-core.yaml
  charts/camunda-platform-8.4/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.4/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-keycloak.yaml
  charts/camunda-platform-8.4/test/integration/scenarios/infra/values-infra-eks-preemptible.yaml
  charts/camunda-platform-8.4/test/integration/scenarios/infra/values-infra-eks-standard.yaml
  charts/camunda-platform-8.5/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.5/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-keycloak.yaml
  charts/camunda-platform-8.5/test/integration/scenarios/infra/values-infra-eks-preemptible.yaml
  charts/camunda-platform-8.5/test/integration/scenarios/infra/values-infra-eks-standard.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-keycloak.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/infra/values-infra-eks-preemptible.yaml
  charts/camunda-platform-8.6/test/integration/scenarios/infra/values-infra-eks-standard.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-keycloak.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/infra/values-infra-eks-preemptible.yaml
  charts/camunda-platform-8.7/test/integration/scenarios/infra/values-infra-eks-standard.yaml
  charts/camunda-platform-8.7/test/integration/testsuites/tests/login.spec.ts
  charts/camunda-platform-8.7/test/integration/testsuites/vars/playwright/files/playwright-job-vars.env
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-elasticsearch.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/chart-full-setup/values-integration-test-ingress-infra.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/infra/values-infra-eks-preemptible.yaml
  charts/camunda-platform-8.8/test/integration/scenarios/infra/values-infra-eks-standard.yaml
  charts/camunda-platform-8.8/test/integration/testsuites/playwright.core/patches/job.yaml
  test/integration/scenarios/chart-full-setup/Taskfile.yaml
  test/integration/scenarios/lib/chart-upgrade-taskfile.yaml
Labels: area/ci, version/8.2, version/8.3, version/8.4, version/8.5, version/8.6, version/8.7, version/8.8, tool/github-actions, version/alpha
