Repository camunda/camunda-platform-helm, pull requests merged in 2025-01, with the labels that each got.

#2736 chore: upgrade python version since 3.7 is no longer supported
  .github/workflows/chart-validate-template.yaml
Labels: area/ci, version/8.6, tool/github-actions

#2733 fix: client-secret should only be present when string literal provided for oidc
  charts/camunda-platform-8.5/templates/identity/configmap.yaml
  charts/camunda-platform-8.6/templates/identity/configmap.yaml
  charts/camunda-platform-alpha/templates/identity/configmap.yaml
Labels: version/8.5, version/8.6, component/identity, version/alpha

#2742 fix: support optional chart secrets auto-generation - camunda 8.3
  Makefile
  charts/camunda-platform-8.3/README.md
  charts/camunda-platform-8.3/charts/identity/templates/deployment.yaml
  charts/camunda-platform-8.3/templates/camunda/secret-camunda.yaml
  charts/camunda-platform-8.3/templates/camunda/secret-connectors.yaml
  charts/camunda-platform-8.3/templates/camunda/secret-console.yaml
  charts/camunda-platform-8.3/templates/camunda/secret-operate.yaml
  charts/camunda-platform-8.3/templates/camunda/secret-optimize.yaml
  charts/camunda-platform-8.3/templates/camunda/secret-tasklist.yaml
  charts/camunda-platform-8.3/templates/camunda/secret-zeebe.yaml
  charts/camunda-platform-8.3/templates/connectors/deployment.yaml
  charts/camunda-platform-8.3/templates/connectors/inbound-secret.yaml
  charts/camunda-platform-8.3/templates/operate/deployment.yaml
  charts/camunda-platform-8.3/templates/optimize/deployment.yaml
  charts/camunda-platform-8.3/templates/tasklist/deployment.yaml
  charts/camunda-platform-8.3/templates/web-modeler/_helpers.tpl
  charts/camunda-platform-8.3/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
  charts/camunda-platform-8.3/test/integration/testsuites/core/patches/job.yaml
  charts/camunda-platform-8.3/values.yaml
Labels: version/8.3, component/web-modeler, component/identity, component/operate, component/optimize, component/tasklist, component/connectors, tool/script

#2745 fix: use integration-test-credentials for web modeler secret
  charts/camunda-platform-8.3/test/integration/scenarios/chart-full-setup/values-integration-test-ingress.yaml
Labels: version/8.3

#2748 fix: adding back override to release-candidate workflow
  .github/workflows/chart-release-candidate.yaml
Labels: area/ci, tool/github-actions

#2751 ci: prepare chart release candidate
  .github/workflows/prepare-chart-release-candidate.yaml
Labels: area/ci, tool/github-actions

#2772 fix: use lru cache when generating the version matrix
  scripts/generate-version-matrix.sh
  version-matrix.sqlite
Labels: tool/script

#2777 fix: gomplate now upgrades with the v
  .github/renovate.json5
Labels: tool/renovatebot

#2762 fix: fixing camelCase in integration tests
  charts/camunda-platform-8.2/test/integration/testsuites/vars/files/testsuite-core.yaml
  charts/camunda-platform-8.2/test/integration/testsuites/vars/files/testsuite-preflight.yaml
  charts/camunda-platform-8.3/test/integration/testsuites/vars/files/testsuite-core.yaml
  charts/camunda-platform-8.3/test/integration/testsuites/vars/files/testsuite-preflight.yaml
  charts/camunda-platform-8.4/test/integration/testsuites/vars/files/testsuite-core.yaml
  charts/camunda-platform-8.4/test/integration/testsuites/vars/files/testsuite-preflight.yaml
  charts/camunda-platform-8.5/test/integration/testsuites/vars/files/testsuite-core.yaml
  charts/camunda-platform-8.5/test/integration/testsuites/vars/files/testsuite-preflight.yaml
  charts/camunda-platform-8.6/test/integration/testsuites/vars/files/testsuite-core.yaml
  charts/camunda-platform-8.6/test/integration/testsuites/vars/files/testsuite-preflight.yaml
  charts/camunda-platform-alpha/test/integration/testsuites/vars/files/testsuite-core.yaml
  charts/camunda-platform-alpha/test/integration/testsuites/vars/files/testsuite-preflight.yaml
Labels: area/ci, version/8.2, version/8.3, version/8.4, version/8.5, version/8.6, tool/github-actions, version/alpha

#2704 feat(web-modeler): configure JWK Set URI for restapi component
  charts/camunda-platform-8.5/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-8.5/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-8.5/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-8.5/test/unit/web-modeler/goldenfiles_test.go
  charts/camunda-platform-8.5/test/unit/web-modeler/types.go
  charts/camunda-platform-8.6/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-8.6/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-8.6/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-8.6/test/unit/web-modeler/goldenfiles_test.go
  charts/camunda-platform-8.6/test/unit/web-modeler/types.go
  charts/camunda-platform-alpha/README.md
  charts/camunda-platform-alpha/templates/web-modeler/configmap-restapi.yaml
  charts/camunda-platform-alpha/test/unit/console/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/test/unit/console/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/console/golden/service.golden.yaml
  charts/camunda-platform-alpha/test/unit/console/golden/serviceaccount.golden.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/configmap.golden.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/deployment.golden.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/service.golden.yaml
  charts/camunda-platform-alpha/test/unit/identity/golden/serviceaccount.golden.yaml
  charts/camunda-platform-alpha/test/unit/utils/goldenfiles.go
  charts/camunda-platform-alpha/test/unit/web-modeler/configmap_restapi_test.go
  charts/camunda-platform-alpha/test/unit/web-modeler/golden/configmap-restapi.golden.yaml
  charts/camunda-platform-alpha/test/unit/web-modeler/goldenfiles_test.go
  charts/camunda-platform-alpha/test/unit/web-modeler/types.go
  charts/camunda-platform-alpha/values.schema.json
Labels: version/8.5, version/8.6, component/web-modeler, version/alpha

#2710 fix: added support for optimize env vars for migration initcontainer
  charts/camunda-platform-8.6/templates/optimize/deployment.yaml
  charts/camunda-platform-alpha/templates/optimize/deployment.yaml
Labels: kind/fix, version/8.6, component/optimize, version/alpha

#2799 fix: apply password key from subchart
  charts/camunda-platform-8.6/templates/identity/_helpers.tpl
  charts/camunda-platform-alpha-8.8/templates/identity/_helpers.tpl
  charts/camunda-platform-alpha-8.8/values.schema.json
  charts/camunda-platform-alpha/templates/identity/_helpers.tpl
Labels: version/8.6, component/identity, version/alpha

#2814 cd: create a pr for each release version
  .github/config/release-please/.release-please-manifest.json
  .github/config/release-please/release-please-config.json
  .github/workflows/chart-release-chores.yml
  .github/workflows/chart-release-pr.yml
  .github/workflows/chart-release-update-config.yml
  .github/workflows/repo-pr-conventions.yaml
  charts/camunda-platform-alpha/Chart.yaml
Labels: area/ci, size/s, area/cd, tool/release-please, tool/github-actions, version/alpha
